<div id="internalBadge">
    <span class="internalBadgeText">internal page</span>
    <span class="internalBadgeTooltip">This page is available only to people with a Guidewire email. Do not share the link with external stakeholders because they will not be able to see the contents.</span>
</div>