<div id="platformToggle">
  <a id="cloudButton" class="toggleButton" href="/" data-root="/cloudProducts"
    >Guidewire Cloud</a
  >
  <a
    id="selfManagedButton"
    class="toggleButton"
    href="/selfManagedProducts"
    data-root="/selfManagedProducts"
    >Self-managed</a
  >
</div>
