<div class="sidebar">
  <div class="categoryCard cardShadow">
    <div class="label">Implementation Resources</div>
    <% if (pageContent.title.toLowerCase() === 'flaine') { %>
    <a href="/testingFramework/flaine">Guidewire Testing</a>
    <% } %> <% if (pageContent.title.toLowerCase() === 'elysian') { %>
    <a href="/testingFramework/elysian">Guidewire Testing</a>
    <% } %> <% if (pageContent.title.toLowerCase() !== 'api references') { %>
    <a href="/apiReferences">API References</a>
    <% } %>
    <a href="/product-adoption-resources/latest">Product Adoption</a>
    <a href="/cloud/standards/latest">Guidewire Cloud Standards</a>
    <a href="/upgradediffs">Upgrade Diff Reports</a>
    <% if (process.env.DEPLOY_ENV.toLowerCase() === 'int') { %>
      <a href="/internal-docs">Internal docs</a>
    <% } %>
  </div>
  <% if (pageContent.title.toLowerCase() === 'elysian') { %>
  <div class="categoryCard cardShadow">
    <div class="label">Feature Preview</div>
    <a href="/cloudProducts/elysian/featurePreview"
      >Early Access Documentation</a
    >
  </div>
  <% } %>
  <% if (pageContent.title.toLowerCase() === 'flaine') { %>
  <div class="categoryCard cardShadow">
    <div class="label">Feature Preview</div>
    <a href="/cloudProducts/flaine/featurePreview"
      >Early Access Documentation</a
    >
  </div>
  <% } %>
</div>
