<div className="docBreadcrumb">
    <% let pageBreadcrumbs = pageContent.breadcrumbs;
    if (pageBreadcrumbs && pageBreadcrumbs.length > 0) { %>
        <% pageBreadcrumbs.forEach(breadcrumb => { %>
            <a href="<%= breadcrumb.path %>"><%= breadcrumb.label %></a>
        <% }) %>
    <% } %>
</div>
