<% if (typeof footerClass !== 'undefined') { %>
<footer class="<%= footerClass %>">
  <% } else { %>
  <footer>
    <% } %>
    <div id="footerLeft"></div>
    <div id="footerCenter"></div>
    <div id="footerRight">
      <div>
        <div class="footerLinks">
          <span class="footerLink"
            ><a href="/support">Legal and Support Information</a></span
          >
        </div>
        <div class="footerCopyright">
          Copyright &#169; 2001-
          <script>
            document.write(new Date().getFullYear());
          </script>
          Guidewire Software, Inc.
        </div>
      </div>
    </div>
  </footer>
  <script src="/scripts/main.js"></script>
</footer>
