<footer class="pageFooter">
  <span class="footerCopyright">© Guidewire Software, Inc.</span>
  <span class="footerLink"><a href="https://www.guidewire.com/legal-notices" target="_blank">Legal notice</a></span>
  <span class="footerLink"><a href="/support">Support</a></span>
</footer>
