<header class="pageHeader">
  <div class="row">
    <div class="col-sm">
      <div class="logoWrapper">
        <a href="/">
          <img
            class="pageLogo"
            src="/images/guidewire-logo.svg"
            alt="Guidewire Documentation"
            role="img"
            aria-label="Guidewire Documentation"
          />
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="searchBoxContainer">
        <% include search-bar %>
      </div>
    </div>
    <div class="col-sm searchBoxPusher"></div>
  </div>
</header>
