<!-- Google Tag Manager (noscript) -->
<noscript
  ><iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-PLXG9H5"
    height="0"
    width="0"
    style="display:none;visibility:hidden"
  ></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
<header class="pageHeader">
  <div class="row">
    <div class="col-sm">
      <div class="logoWrapper">
        <a href="/">
          <img
            class="pageLogo"
            src="/images/guidewire-logo.svg"
            alt="Guidewire Documentation"
            role="img"
            aria-label="Guidewire Documentation"
          />
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="searchBoxContainer">
        <% include search-bar %>
      </div>
    </div>
    <div class="col-sm searchBoxPusher"></div>
    <a href="/logout">LOG OUT</a>
  </div>
</header>
