<header class="pageHeader">
  <div class="logoWrapper">
    <a href="/">
      <img
        class="pageLogo"
        src="images/guidewire-logo.svg"
        alt="Guidewire Documentation"
        role="img"
        aria-label="Guidewire Documentation"
      />
    </a>
  </div>
  <div class="searchBoxContainer">
    <% include search-bar %>
  </div>
</header>
