<head>
  <!-- Google Tag Manager (server-side) -->
  <script>
    <%- analytics.tagManagerHeadScript %>
  </script>
  <!-- End Google Tag Manager (server-side) -->
  <!-- Pendo install script (server-side) -->
  <script>
    <%- analytics.pendoInstallScript %>
  </script>
  <!-- End Pendo install script (server-side) -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta
    name="Description"
    content="Technical documentation for Guidewire customers and partners"
  />
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <title><%= pageTitle %></title>
</head>
