<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129148666-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-129148666-1');
    </script>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../stylesheets/main.css"/>
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css"/>
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <title>Guidewire Documentation</title>
</head>
