<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-PLXG9H5"
    height="0"
    width="0"
    style="display:none;visibility:hidden"
  ></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<% if (typeof headerClass !== 'undefined') { %>
<header class="<%= headerClass %>">
  <% } else { %>
  <header>
    <% } %>
    <div id="headerLeft">
      <a href="/">
        <img
          class="pageLogo"
          src="/images/guidewire-logo.svg"
          alt="Guidewire Documentation"
          role="img"
          aria-label="Guidewire Documentation"
        />
      </a>
    </div>
    <div id="headerCenter">
      <form action="/search">
        <div class="searchWrapper">
          <input
            name="q"
            id="searchField"
            class="searchField"
            type="search"
            placeholder="Search Guidewire documentation"
            aria-label="Search Guidewire documentation"
          />
          <button type="submit" class="searchButton" aria-label="Search">
            Search
          </button>
        </div>
      </form>
    </div>
    <div id="headerRight">
      <% include links-menu %> <% if (!hideLoginButton) { %>
      <div id="loginContainer">
        <a class="button invisible" id="loginButton" href="/gw-login">Log in</a>
      </div>
      <% } %>
    </div>
  </header>
</header>
