<% let pageSelector = pageContent.selector %>
<% if (pageSelector) { %>
    <label for="pageSelector"><%= pageSelector.label %></label>
    <select id="pageSelector">
        <script>
            function selectPage(e) {
                const selectedPage = e.target.value;
                if (selectedPage) {
                    window.location = selectedPage;
                }
            }
            document.querySelector('#pageSelector').addEventListener('change', selectPage)
        </script>

        <% const allItems = [
            {label: pageSelector.selectedItem},
            ...pageSelector.items
        ];
            const sortedItems = allItems
                    .sort(function (a, b) {
                        var labelA = a.label.toUpperCase();
                        var labelB = b.label.toUpperCase();
                        if (labelA < labelB) {
                            return -1;
                        }
                        if (labelA > labelB) {
                            return 1;
                        }
                        return 0;
                    })
                    .reverse();
        sortedItems.forEach(item => {
        if (item.label === pageSelector.selectedItem) { %>
            <option selected="selected"><%= item.label %></option>
        <% } else { %>
            <% let itemHref = item.doc_url || item.link;
                if (item.page) {
                    itemHref = encodeURI(pagePath + item.page)
                }
            %>
            <option value="<%= itemHref %>">
                <%= item.label %>
            </option>
        <% }}) %>
    </select>
<% } %>


