<div id="pageSelectorContainer">
    <% let pageSelector = pageContent.selector;
    if (pageSelector) { %>
        <script>
            function selectPage(selectedPage) {
                if (selectedPage) {
                    window.location = selectedPage;
                }
            }

            function toggleDropdown() {
                const dropdown = document.querySelector('.pageSelectorDropdown');
                if (dropdown) {
                    dropdown.classList.toggle('visible');
                }
            }
        </script>

        <% if (pageSelector.label) { %>
            <span class="selectorLabel"><%= pageSelector.label %></span>
        <% } %>
        <div onchange="selectPage(this.value)" id="pageSelector">
            <div selected="selectedOption" onclick="toggleDropdown()"
                 aria-haspopup="listbox"><%= pageSelector.selectedItem %></div>
            <div class="pageSelectorDropdown" role="listbox">
                <% pageSelector.items.forEach(item => {
                    let itemHref = item.doc_url || item.link;
                    if (item.page) {
                        itemHref = pagePath + item.page
                    }
                %>
                <div onclick="selectPage('<%= itemHref %>')"
                     class="dropdownOption" role="option">
                    <%= item.label %>
                </div>
                <% }) %>
            </div>
        </div>
    <% } %>
</div>
