<form class="searchBar row align-items-center" action="/search">
  <div class="col">
    <div class="searchFieldWrapper">
      <input
        name="q"
        id="searchField"
        class="searchField"
        type="text"
        placeholder="Search Guidewire documentation"
        aria-label="Search Guidewire documentation"
      />
      <button
        id="searchButton"
        class="searchButton"
        aria-label="Search"
      ></button>
    </div>
  </div>
</form>
