<form action="/search">
  <div class="searchFieldWrapper">
    <input
      name="q"
      id="searchField"
      class="searchField"
      type="search"
      placeholder="Search Guidewire Documentation"
      aria-label="Search Guidewire Documentation"
    />
    <button type="submit" class="searchButton" aria-label="Search"><i class="fa fa-search"></i></button>
  </div>
</form>
