<div class="sidebar">
  <div class="categoryCard cardShadow">
    <div class="label">Developer Resources</div>
    <% if (pageContent.title.toLowerCase() === 'elysian') { %>
    <a href="/testingFramework/elysian">Guidewire Testing Framework</a>
    <% } %> <% if (pageContent.title.toLowerCase() !== 'api references') { %>
    <a href="/apiReferences">API References</a>
    <% } %>
    <a href="/cloud/standards/latest">Guidewire Cloud Standards</a>
    <a href="/upgradediffs">Upgrade Diff Reports</a>
  </div>
</div>
