<div class="sidebar">
    <div class="usefulLinks">
        <% if (pageContent.title.toLowerCase() !== 'developer resources') { %>
            <a href="/developerResources">Developer Resources</a>
        <% } %>
        <a href="/cloud/standards/latest">Guidewire Cloud Standards</a>
        <a href="/upgradediffs">Upgrade Diff Reports</a>
        <a href="/glossary">Guidewire Glossary</a>
    </div>
</div>
