<div class="switcher">
  <a class="<%= selected === 'cloud' ? 'selected' : 'unselected' %>" 
    href="/"
    >Cloud products</a
  >
  <a
    class="<%= selected === 'sm' ? 'selected' : 'unselected' %>"
    href="/self-managed-latest"
    >Self-managed products</a
  >
</div>
