<div class="toggle">
  <a class="<%= selected === 'cloud' ? 'selected' : 'unselected' %>" 
    href="/"
    >Guidewire Cloud</a
  >
  <a
    class="<%= selected === 'sm' ? 'selected' : 'unselected' %>"
    href="/self-managed"
    >Self-managed</a
  >
</div>
