<div class="usefulLinks">
  <div>
    <a
      href="https://community.guidewire.com"
      target="_blank"
      rel="noopener noreferrer"
      >Guidewire Community for customers</a
    >
  </div>
  <div>
    <a 
      href="https://partner.guidewire.com"
      target="_blank"
      rel="noopener noreferrer"
      >Guidewire Community for partners</a>
  </div>
  <div>
    <a 
      href="/glossary"
      target="_blank"
      >Guidewire Glossary</a>
  </div>
</div>
