apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: ${APP_NAME}-secret-store
  namespace: ${POD_NAME}
  labels:
    app: ${APP_NAME}
    gwcp.guidewire.com/dept: \"${DEPT_CODE}\"
    gwcp.guidewire.com/maintained-by: ${POD_NAME}
    gwcp.guidewire.com/created-by: ${POD_NAME}
    gwcp.guidewire.com/tenant-name: ${POD_NAME}
    gwcp.guidewire.com/version: ${TAG_VERSION}
    gwcp.guidewire.com/app-name: ${APP_NAME}
spec:
  retrySettings:
    maxRetries: 5
    retryInterval: \"10s\"
  provider:
    aws:
      role: ${AWS_ROLE}
      service: SecretsManager
      region: ${AWS_DEFAULT_REGION}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ${APP_NAME}-external-secret
  namespace: ${POD_NAME}
  labels:
    app: ${APP_NAME}
    gwcp.guidewire.com/dept: \"${DEPT_CODE}\"
    gwcp.guidewire.com/maintained-by: ${POD_NAME}
    gwcp.guidewire.com/created-by: ${POD_NAME}
    gwcp.guidewire.com/tenant-name: ${POD_NAME}
    gwcp.guidewire.com/version: ${TAG_VERSION}
    gwcp.guidewire.com/app-name: ${APP_NAME}
spec:
  secretStoreRef:
    name: ${APP_NAME}-secret-store
    kind: SecretStore
  target:
    name: ${APP_NAME}-external-secret
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: tenant-doctools-docportal
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: ${APP_NAME}-pdb
  namespace: ${POD_NAME}
  labels:
    app: ${APP_NAME}
    gwcp.guidewire.com/dept: \"${DEPT_CODE}\"
    gwcp.guidewire.com/maintained-by: ${POD_NAME}
    gwcp.guidewire.com/created-by: ${POD_NAME}
    gwcp.guidewire.com/tenant-name: ${POD_NAME}
    gwcp.guidewire.com/version: ${TAG_VERSION}
    gwcp.guidewire.com/app-name: ${APP_NAME}
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: ${APP_NAME}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${APP_NAME}-deployment
  namespace: ${POD_NAME}
  labels:
    tags.datadoghq.com/env: atmos-${DEPLOY_ENV}
    tags.datadoghq.com/service: ${DD_SERVICE_NAME}
    tags.datadoghq.com/version: ${TAG_VERSION}
    app: ${APP_NAME}
    gwcp.guidewire.com/dept: \"${DEPT_CODE}\"
    gwcp.guidewire.com/maintained-by: ${POD_NAME}
    gwcp.guidewire.com/created-by: ${POD_NAME}
    gwcp.guidewire.com/tenant-name: ${POD_NAME}
    gwcp.guidewire.com/version: ${TAG_VERSION}
    gwcp.guidewire.com/app-name: ${APP_NAME}
spec:
  selector:
    matchLabels:
      app: ${APP_NAME}
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
  template:
    metadata:
      name: ${APP_NAME}-deployment
      namespace: ${POD_NAME}
      labels:
        tags.datadoghq.com/env: atmos-${DEPLOY_ENV}
        tags.datadoghq.com/service: ${DD_SERVICE_NAME}
        tags.datadoghq.com/version: ${TAG_VERSION}
        app: ${APP_NAME}
        gwcp.guidewire.com/dept: \"${DEPT_CODE}\"
        gwcp.guidewire.com/maintained-by: ${POD_NAME}
        gwcp.guidewire.com/created-by: ${POD_NAME}
        gwcp.guidewire.com/tenant-name: ${POD_NAME}
        gwcp.guidewire.com/version: ${TAG_VERSION}
        gwcp.guidewire.com/app-name: ${APP_NAME}
      annotations:
        iam.amazonaws.com/role: ${AWS_ROLE}
    spec:
      containers:
        - name: docportal
          image: ${AWS_ECR_REPO}:${TAG_VERSION}
          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/sleep
                  - '30'
          command: [ \"/bin/sh\", \"-c\" ]
          args: [ \"until wget -qO- http://127.0.0.1:15000/server_info | grep '\\\"state\\\": \\\"LIVE\\\"'; do echo 'Waiting for Istio sidecar'; sleep 1 ; done ; echo 'istio sidecar available'; node server.js\" ]
          imagePullPolicy: Always
          ports:
            - containerPort: 8081
          livenessProbe:
            httpGet:
              path: /alive
              port: 8081
            initialDelaySeconds: 60
            periodSeconds: 45
          readinessProbe:
            httpGet:
              path: /alive
              port: 8081
            initialDelaySeconds: 150
            periodSeconds: 45
          env:
            - name: REFRESH_IMAGE
              value: 'BUILD_TIME'
            - name: OKTA_DOMAIN
              value: ${OKTA_DOMAIN}
            - name: OKTA_IDP
              value: ${OKTA_IDP}
            - name: OKTA_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: ${APP_NAME}-external-secret
                  key: okta_client_id
            - name: OKTA_CLIENT_ID_APAC
              valueFrom:
                secretKeyRef:
                  name: ${APP_NAME}-external-secret
                  key: okta_client_id_apac
            - name: OKTA_CLIENT_ID_EMEA
              valueFrom:
                secretKeyRef:
                  name: ${APP_NAME}-external-secret
                  key: okta_client_id_emea
            - name: OKTA_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: ${APP_NAME}-external-secret
                  key: okta_client_secret
            - name: OKTA_CLIENT_SECRET_APAC
              valueFrom:
                secretKeyRef:
                  name: ${APP_NAME}-external-secret
                  key: okta_client_secret_apac
            - name: OKTA_CLIENT_SECRET_EMEA
              valueFrom:
                secretKeyRef:
                  name: ${APP_NAME}-external-secret
                  key: okta_client_secret_emea
            - name: OKTA_ACCESS_TOKEN_ISSUER
              value: ${OKTA_ACCESS_TOKEN_ISSUER}
            - name: OKTA_ACCESS_TOKEN_ISSUER_APAC
              value: ${OKTA_ACCESS_TOKEN_ISSUER_APAC}
            - name: OKTA_ACCESS_TOKEN_ISSUER_EMEA
              value: ${OKTA_ACCESS_TOKEN_ISSUER_EMEA}
            - name: OKTA_ACCESS_TOKEN_SCOPES
              valueFrom:
                secretKeyRef:
                  name: ${APP_NAME}-external-secret
                  key: okta_access_token_scopes
            - name: OKTA_ACCESS_TOKEN_AUDIENCE
              valueFrom:
                secretKeyRef:
                  name: ${APP_NAME}-external-secret
                  key: okta_access_token_audience
            - name: APP_BASE_URL
              value: ${APP_BASE_URL}
            - name: SESSION_KEY
              valueFrom:
                secretKeyRef:
                  name: ${APP_NAME}-external-secret
                  key: session_key
            - name: ELASTIC_SEARCH_URL
              value: ${ELASTIC_SEARCH_URL}
            - name: DOC_S3_URL
              value: ${DOC_S3_URL}
            - name: PORTAL2_S3_URL
              value: ${PORTAL2_S3_URL}
            - name: PARTNERS_LOGIN_URL
              value: ${PARTNERS_LOGIN_URL}
            - name: PARTNERS_LOGIN_CERT
              valueFrom:
                secretKeyRef:
                  name: ${APP_NAME}-external-secret
                  key: partners_login_cert
            - name: PARTNERS_LOGIN_SERVICE_PROVIDER_ENTITY_ID
              value: ${PARTNERS_LOGIN_SERVICE_PROVIDER_ENTITY_ID}
            - name: CUSTOMERS_LOGIN_URL
              value: ${CUSTOMERS_LOGIN_URL}
            - name: CUSTOMERS_LOGIN_CERT
              valueFrom:
                secretKeyRef:
                  name: ${APP_NAME}-external-secret
                  key: customers_login_cert
            - name: CUSTOMERS_LOGIN_SERVICE_PROVIDER_ENTITY_ID
              value: ${CUSTOMERS_LOGIN_SERVICE_PROVIDER_ENTITY_ID}
            - name: ALLOW_PUBLIC_DOCS
              value: 'yes'
            - name: ENABLE_AUTH
              value: 'yes'
            - name: DEPLOY_ENV
              value: '${DEPLOY_ENV}'
            - name: JIRA_AUTH_TOKEN
              valueFrom:
                secretKeyRef:
                  name: ${APP_NAME}-external-secret
                  key: jira_auth_token
            - name: DD_ENV
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['tags.datadoghq.com/env']
            - name: DD_SERVICE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['tags.datadoghq.com/service']
            - name: DD_VERSION
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['tags.datadoghq.com/version']
            - name: DD_HTTP_CLIENT_TAG_QUERY_STRING
              value: 'true'
            - name: DD_HTTP_SERVER_TAG_QUERY_STRING
              value: 'true'
            - name: DD_SERVICE_MAPPING
              value: "nodejs:atmos-${DEPLOY_ENV}-${APP_NAME}"
            - name: DD_LOGS_INJECTION
              value: 'true'
            - name: DD_PROFILING_ENABLED
              value: 'true'
            - name: DD_TAGS
              value: layer:webapp, team:${POD_NAME}
            - name: DD_TRACE_ANALYTICS_ENABLED
              value: 'true'
            - name: DD_TRACE_STARTUP_LOGS
              value: 'true'
            - name: DD_AGENT_HOST
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: DD_PROPAGATION_STYLE_INJECT
              value: "Datadog,B3"
          resources:
            requests:
              memory: \"${REQUESTS_MEMORY}\"
              cpu: \"${REQUESTS_CPU}\"
            limits:
              memory: \"${LIMITS_MEMORY}\"
              cpu: \"${LIMITS_CPU}\"
---
apiVersion: v1
kind: Service
metadata:
  name: ${APP_NAME}
  namespace: ${POD_NAME}
  labels:
    app: ${APP_NAME}
    gwcp.guidewire.com/dept: \"${DEPT_CODE}\"
    gwcp.guidewire.com/maintained-by: ${POD_NAME}
    gwcp.guidewire.com/created-by: ${POD_NAME}
    gwcp.guidewire.com/tenant-name: ${POD_NAME}
    gwcp.guidewire.com/version: ${TAG_VERSION}
    gwcp.guidewire.com/app-name: ${APP_NAME}
spec:
  ports:
    - name: http
      port: 8081
  selector:
    app: ${APP_NAME}