apiVersion: oort.ccs.guidewire.com/v1alpha1
kind: GatewayConfig
metadata:
  namespace: ${POD_NAME}
  name: docportal-gateway-config
  labels:
    app: ${APP_NAME}
    gwcp.guidewire.com/dept: \"${DEPT_CODE}\"
    gwcp.guidewire.com/maintained-by: ${POD_NAME}
    gwcp.guidewire.com/created-by: ${POD_NAME}
    gwcp.guidewire.com/tenant-name: ${POD_NAME}
    gwcp.guidewire.com/version: ${TAG_VERSION}
    gwcp.guidewire.com/app-name: ${APP_NAME}
spec:
  profiles:
    - name: Default
      response_transformer:
        add:
          headers:
            - Content-Security-Policy:frame-ancestors https://*.guidewire.net https://*.guidewire.com
            - X-Frame-Options:SAMEORIGIN
            - Access-Control-Allow-Origin:*
            - Access-Control-Allow-Methods:GET, OPTIONS
            - Access-Control-Allow-Headers:*
  path_configs:
    - name: Default
      paths:
        - /**
      profiles:
        - Default
  service_ref: ${APP_NAME}
  service_alias: docs
  enable_sub_domain: false
  alt_fqdns:
    - name: docs-vanity-domain
      enable_sub_domain: false
      hostname: docs
      base_domain: guidewire.com
    - name: portal2-vanity-domain
      enable_sub_domain: false
      hostname: portal2
      base_domain: guidewire.com
