.idea/
.teamcity/*
!.teamcity/config/
!.teamcity/archive/
.yarn/
*.iml
*.log
*.yml
*.yaml
*.sh
.docusaurus/
docusaurus/**/lib/
build/
dist/
out/
html5/static/logs/
generated/stats.json
openapi/package.json
node_modules/
