@import "common.css";

*, ::after, ::before {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-sm, .col {
    flex: 1;
}

body > h1.title,
body > nav:not([role="toc"]) {
    max-width: 1300px;
    margin: 32px auto auto;
}

header.pageHeader {
    grid-area: header;
}

nav[role="toc"] {
    grid-area: nav;
    padding: 48px 8px 8px 0;
    margin: 16px;
    background-color: white;
    font-size: 15px;
}

nav[role="toc"] > ul > li {
    padding-bottom: 16px !important;
}

nav[role="toc"] ul {
    margin: 0;
    padding-inline-start: 16px;
}

nav[role="toc"] li {
    list-style: none;
}

nav[role="toc"] a {
    display: block;
    width: 100%;
    color: var(--GW-COLOR-TEXT-1) !important;
    text-decoration: none;
    padding: 8px 16px;
}

nav[role="toc"] a:hover {
    text-decoration: underline;
}

nav[role="toc"] .selectedNavItem {
    font-weight: 600;
    border-left: 3px solid var(--GW-COLOR-BRAND-1-ACTIVE);
}

nav[role="toc"] ul.nested {
    display: none;
}

nav[role="toc"] ul.expanded {
    display: block;
}

nav[role="toc"] .caret {
    cursor: pointer;
}

nav[role="toc"] .caret:hover span {
    text-decoration: underline;
}

nav[role="toc"] .caret > *:nth-child(1):before {
    content: ">";
    color: var(--GW-COLOR-TEXT-2);
    font-weight: bold;
    display: inline-block;
    font-size: 12px;
    padding-right: 6px;
}

nav[role="toc"] .caret.expanded > *:nth-child(1):before {
    transform: rotate(90deg);
    padding-left: 4px;
}

main[role="main"] {
    grid-area: main;
    padding: 32px;
    background-color: var(--GW-COLOR-BKGD-1);
    min-height: var(--main-height);
}

footer.pageFooter {
    grid-area: footer;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr [col-start]);
    grid-template-rows: auto;
    grid-template-areas:
            "header header header header header header header header header header header header"
            "nav nav nav main main main main main main main main main"
            "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.topictitle1, .topictitle2, .topictitle3, .topictitle4, .topictitle5, .sectiontitle {
    font-weight: 600;
}

.topictitle1 {
    padding-top: 16px;
    font-size: 40px;
}

.topictitle2 {
    font-size: 32px;
}

.topictitle3 {
    font-size: 24px;
}

.topictitle4 {
    font-size: 20px;
}

.topictitle5, sectiontitle {
    font-size: 16px;
}
