@import "common.css";

*, ::after, ::before {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-sm, .col {
    flex: 1;
}

body > h1.title,
body > nav {
    max-width: 1300px;
    margin: 32px auto auto;
}

header.pageHeader {
    grid-area: header;
}

nav[role="toc"] {
    grid-area: nav;
    padding: 8px 8px 8px 0;
    background-color: white;
}

nav[role="toc"] ul {
    margin: 0;
}

nav[role="toc"] li {
    list-style: none;
}

nav[role="toc"] a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 4px;
}

nav[role="toc"] li.active > a {
    font-weight: bold;
    border-right: 6px solid var(--GW-COLOR-BRAND-1-ACTIVE);
}

main[role="main"] {
    grid-area: main;
    padding: 32px;
    background-color: var(--GW-COLOR-BKGD-1);
    min-height: var(--main-height);
}

footer.pageFooter {
    grid-area: footer;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr [col-start]);
    grid-template-rows: auto;
    grid-template-areas:
            "header header header header header header header header header header header header"
            "nav nav nav main main main main main main main main main"
            "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.topictitle1, .topictitle2, .topictitle3, .topictitle4, .topictitle5, .sectiontitle {
    font-weight: 600;
}

.topictitle1 {
    padding-top: 16px;
    font-size: 40px;
}

.topictitle2 {
    font-size: 32px;
}

.topictitle3 {
    font-size: 24px;
}

.topictitle4 {
    font-size: 20px;
}

.topictitle5, sectiontitle {
    font-size: 16px;
}
