@import 'modules/fonts.css';
@import 'modules/header.css';
@import 'modules/html5content.css';
@import 'modules/landingpage.css';
@import 'modules/navbar.css';
@import 'modules/note.css';
@import 'modules/print.css';
@import 'modules/tables.css';
@import 'modules/task.css';
@import 'modules/typography.css';
@import './modules/html5vars.css';
@import './modules/highlight.css';

* {
  box-sizing: border-box;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 0.6vw;
  height: 0.6vw;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

html {
  font-size: 100%;
}

body {
  display: grid;
  grid-template-columns: var(--left-nav-width) 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header'
    'navbar navbar navbar'
    'toc main main'
    'footer footer footer';
}

img {
  max-width: 100%;
  height: auto;
}

p.p img:first-child {
  margin-top: 1rem;
}

main {
  grid-area: main;
  padding: 1rem 0 var(--main-padding-large) var(--main-padding-large);
  scroll-behavior: smooth;
  line-height: 1.5;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

@media (prefers-reduced-motion: reduce) {
  main {
    scroll-behavior: auto;
  }

  .scrollToTopButton:active {
    transform: none;
  }
}

main > article {
  width: var(--article-width);
  margin-right: var(--article-margin-right);
}

main > .spacer {
  border-right: 1px solid lightgray;
}

.scrollToTopButton {
  position: fixed;
  bottom: calc(8px + var(--footer-height));
  display: none;
  width: 40px;
  height: 40px;
  background-color: black;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M11.29 8.71L6.7 13.3c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 10.83l3.88 3.88c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L12.7 8.71c-.38-.39-1.02-.39-1.41 0z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: var(--GW-BOX-SHADOW-DIAGONAL-3);
  cursor: pointer;
}

.scrollToTopButton:hover {
  filter: invert(1);
}

.scrollToTopButton:active {
  transform: scale(1.2);
}

.scrollToTopButton.visible {
  display: block;
}

@media screen and (max-width: 1670px) {
  main {
    margin-right: 0.2vw;
    flex-direction: column;
    justify-content: flex-start;
  }

  main > article {
    border-right: none;
    padding-right: 0;
  }

  main > .spacer {
    flex-grow: 0;
    border-right: none;
    height: 1rem;
  }
}

@media screen and (max-width: 1370px) {
  main > article {
    width: 100%;
    margin-right: 1rem;
  }
}

#loginButton {
  background: linear-gradient(194.81deg,
      hsl(196, 100%, 36%) 0%,
      hsl(196, 100%, 31%) 100%);
  color: hsl(0, 0%, 100%) !important;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 0.9rem;
  white-space: nowrap;
}

#loginButton:hover {
  background: hsl(196, 100%, 26%);
  text-decoration: none;
}

main > article:first-of-type > h1:first-of-type,
main > article:first-of-type > article.nested0:first-of-type > h1:first-of-type {
  display: flex;
  border-bottom: 1px solid gray;
  gap: .4ch;
}
