@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@media only screen and (max-width: 580px) {
  html,
  body {
    --landing-title-container-height: 150px !important;
    --header-height: 128px !important;
    --search-field-width: 80% !important;
  }
  
  .logoWrapper {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 269px !important;
  }

  .pageLogo {
    margin: 0 !important;
  }
}

html,
body {
  --footer-height: 84px;
  --header-height: 64px;
  --landing-title-container-height: 200px;
  --search-bar-height: 104px;
  --search-field-width: 360px;
  --search-button-width: 16px;
  --GW-COLOR-BRAND-1: #00739d;
  --GW-COLOR-BRAND-1-HOVER: #006083;
  --GW-COLOR-BRAND-1-ACTIVE: #004e6a;
  --GW-COLOR-BRAND-2: #3c4c5e;
  --GW-COLOR-BRAND-2-HOVER: #46596e;
  --GW-COLOR-BRAND-2-ACTIVE: #50657d;
  --GW-COLOR-TEXT-1: #28333f;
  --GW-COLOR-TEXT-3: #ffffff;
  --GW-COLOR-TEXT-3-HOVER: #f2f2f2;
  --GW-COLOR-BKGD-1: #fafafa;
  --GW-COLOR-BKGD-2: #e9f9ff;
  --GW-BOX-SHADOW-OUTER-2: rgba(40, 51, 63, 0.16) 0px 2px 4px 0px;
  --GW-BOX-SHADOW-OUTER-3: rgba(40, 51, 63, 0.16) 0px 4px 8px;
  background-color: var(--GW-COLOR-BKGD-1);
  height: 100%;
}

.homeContainer {
  min-height: calc(
    100% - var(--header-height) - var(--search-bar-height) -
      var(--footer-height)
  );
  background-color: var(--GW-COLOR-BKGD-1);
}

.homeContainerNoSearch {
  min-height: calc(100% - var(--header-height) - var(--footer-height));
  background-color: var(--GW-COLOR-BKGD-1);
}

.docPanelContainer {
  padding: 20px;
  min-height: calc(
    100% - var(--footer-height) - var(--header-height) -
      var(--search-bar-height) - var(--landing-title-container-height)
  );
  background-color: var(--GW-COLOR-BKGD-1);
}

.docPanelContainerNoSearch {
  padding: 20px;
  min-height: calc(
    100% - var(--footer-height) - var(--header-height) -
      var(--landing-title-container-height)
  );
  background-color: var(--GW-COLOR-BKGD-1);
}

.docPanel {
  padding: 1.5rem;
  margin: 1.25rem;
  border-left: solid 4px #b7c7cd;
  border-bottom: solid 1px rgba(0, 0, 0, 0.125);
}

.docPanelTransparent {
  padding: 1.5rem;
  margin: 1.25rem;
}

.docPanel a,
.docPanelTransparent a,
.docPanelLink a {
  color: var(--GW-COLOR-BRAND-1);
}
.docPanel a:hover,
.docPanelTransparent a:hover,
.docPanelLink a:hover {
  color: var(--GW-COLOR-BRAND-1-HOVER) !important;
}
a:hover {
  color: var(--GW-COLOR-BRAND-1-HOVER) !important;
}

a:active {
  color: var(--GW-COLOR-BRAND-1-ACTIVE);
}

.docPanelLink {
  display: inline-block;
  margin-top: 5px;
  margin-left: 15px;
}

.docPanelTitle {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.docPanelDescription {
  display: block;
}

.pageHeader {
  min-height: var(--header-height);
  background-color: var(--GW-COLOR-BRAND-2);
}

.logoWrapper {
  margin-top: 16px;
}

.pageLogo {
  margin-left: 32px;
  height: 32px;
}

.searchBoxContainer {
  margin-top: 16px;
  height: 32px;
}

.searchBoxContainer * {
  vertical-align: middle;
}

.searchFieldWrapper {
  background-color: var(--GW-COLOR-BRAND-2-HOVER);
  border-color: var(--GW-COLOR-BRAND-2-ACTIVE);
  border-style: solid;
  border-radius: 1px;
  font-size: 14px;
  padding-left: 14px;
  padding-right: 14px;
  width: var(--search-field-width);
  margin: auto;
}

.searchFieldWrapper:focus-within {
  outline-color: red;
}

.searchField {
  color: var(--GW-COLOR-TEXT-3);
  background-color: var(--GW-COLOR-BRAND-2-HOVER);
  width: calc(100% - var(--search-button-width) - 16px);
  border: none;
  height: 32px;
}

.searchButton {
  border: none;
  margin-left: 12px;
  background-image: url(../images/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  height: 24px;
  width: var(--search-button-width);
}

.searchField::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--GW-COLOR-TEXT-3);
  opacity: 1; /* Firefox */
}

.searchField:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--GW-COLOR-TEXT-3);
}

.searchField::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--GW-COLOR-TEXT-3);
}

.resultList li {
  list-style-type: none;
}

.resultList h2 {
  font-size: 1.3rem;
}

.searchResults {
  padding-top: 3rem;
}

.searchResults a {
  color: var(--GW-COLOR-BRAND-1);
}

.card {
  background-color: var(--GW-COLOR-BKGD-1) !important;
}

.pageFooter {
  min-height: var(--footer-height);
  color: var(--GW-COLOR-TEXT-3);
  background-color: var(--GW-COLOR-TEXT-1);
  padding: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.footerCopyright {
  display: block;
  font-size: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.footerLinks {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
}

.footerLink a {
  margin-right: 32px;
  font-size: 14px;
  font-weight: 600;
  color: var(--GW-COLOR-TEXT-3);
}

.footerLink a:hover {
  text-decoration: none;
  color: var(--GW-COLOR-TEXT-3-HOVER);
}

.gw-jumbotron {
  padding: 0.5rem 0.5rem;
  margin-bottom: 2rem;
  background-color: transparent;
  border-radius: 0.3rem;
}

.gw-jumbotron a {
  color: var(--GW-COLOR-BRAND-1);
}

.gw-jumbotron a:hover {
  color: var(--GW-COLOR-BRAND-1-HOVER);
}

.display-4 {
  font-weight: 600 !important;
}

h1.display-4 {
  color: var(--GW-COLOR-TEXT-1);
  font-size: 40px;
  margin-top: 64px;
}

@media (min-width: 576px) {
  .gw-jumbotron {
    padding: 1rem 1rem;
  }
}

.pagination li {
  padding: 6px;
}

.pagination li.disabled a,
.pagination li.disabled {
  color: gray !important;
}

.pagination button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.filterSearchResults h2 {
  font-size: 1rem;
}

.checkboxRow {
  font-size: 0.9rem;
  line-height: 1rem;
  margin-left: 6px;
  display: grid;
  grid-template-columns: 24px auto 12px;
  align-items: center;
  align-content: space-around;
}

.docCount {
  color: gray;
}

.paginationWrapper {
  float: right;
}

/* Bootstrap overrides */

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif !important;
}

.list-unstyled a,
.card-header a {
  color: var(--GW-COLOR-BRAND-1);
}

.list-unstyled a:hover,
.card-header a:hover {
  color: var(--GW-COLOR-BRAND-1-HOVER);
}

.loginJumbotron {
  text-align: center;
}

.loginSubtitle {
  font-size: 18px;
  color: var(--GW-COLOR-TEXT-1);
}

.loginCard {
  max-width: 330px;
  min-height: 300px;
  padding: 32px;
  color: var(--GW-COLOR-TEXT-1);
  background-color: #ffffff;
  box-shadow: var(--GW-BOX-SHADOW-OUTER-2);
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 32px;
}

.loginCard:hover {
  box-shadow: var(--GW-BOX-SHADOW-OUTER-3);
}

.loginCardTitle {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 32px;
  height: 2rem;
}

.loginCardDescription {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 16px;
  height: 3rem;
}

.loginButton {
  color: var(--GW-COLOR-TEXT-3);
  font-size: 20px;
  background: linear-gradient(194.81deg, #0086b6 0%, #00739d 100%);
  box-shadow: 0 2px 4px 0 rgba(40, 51, 63, 0.16);
  display: block;
  width: 132px;
  height: 48px;
  padding: 8px;
  margin: auto;
  margin-top: 32px;
}

.loginButton:hover {
  text-decoration: none;
  color: var(--GW-COLOR-TEXT-3) !important;
  background: var(--GW-COLOR-BRAND-1-HOVER);
}

.employeeLogin {
  text-align: center;
  margin-top: 32px;
}

.employeeLogin a {
  color: var(--GW-COLOR-BRAND-1);
}
