@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import 'modules/common.css';
@import 'modules/avatar.css';
@import 'modules/feedback.css';
@import 'modules/recommendations.css';
@import 'modules/earlyAccess.module.css';

@media only screen and (max-width: 580px) {
  /* leaving this here if we need it later */
}

.wait {
  cursor: wait;
}

@media only screen and (min-width: 581px) {
  div.wh_header_flex_container > div.wh_search_input {
    position: absolute;
    left: calc(50vw - (var(--search-field-width) / 2));
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  input.wh_search_textfield {
    border-color: 1px solid var(--clr-GW-HEADER-BORDER);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    background-color: #fff;
    color: var(--clr-GW-BLACK) !important;
    padding-left: 14px;
    padding-right: 36px;
    width: var(--search-field-width);
    font-size: 14px;
  }

  input.wh_search_textfield::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--clr-GW-BLACKISH);
    opacity: 1; /* Firefox */
  }

  input.wh_search_textfield:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--clr-GW-BLACKISH);
  }

  input.wh_search_textfield::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--clr-GW-BLACKISH);
  }

  button.wh_search_button {
    background-color: transparent;
    color: var(--clr-GW-BLACKISH);
    width: var(--search-button-width);
    height: 32px;
    left: calc(var(--search-field-width) - (var(--search-button-width) * 3));
    font-size: 18px;
    font-weight: 800;
  }

  div.wh_search_input.navbar-form.wh_main_page_search {
    height: var(--header-height);
    width: calc(var(--search-field-width) + var(--search-button-width) + 60px);
    position: absolute;
    top: 0;
    left: 50%;
  }

  .wh_search_input.navbar-form.wh_main_page_search form#searchForm {
    left: 37px;
  }

  div.wh_search_input.navbar-form.wh_main_page_search,
  input.wh_search_textfield {
    width: var(--search-field-width);
    padding-right: 36px;
  }

  .wh_content_area#content {
    min-height: var(--main-height);
    margin-top: var(--header-height);
  }
}

header.navbar.navbar-default.wh_header {
  min-height: var(--header-height) !important;
  background-color: var(--clr-GW-HEADER-FOOTER-BKG) !important;
}

header {
  min-height: var(--header-height) !important;
  background-color: var(--clr-GW-HEADER-FOOTER-BKG) !important;
}

div.wh_content_area {
  min-height: calc(
    100% - var(--header-height) - var(--search-bar-height) -
      var(--footer-height)
  );
  margin-top: calc(var(--header-height) + 70px);
}

.wh_header_flex_container {
  background: transparent !important;
}

.wh_logo {
  display: inline-block;
  width: 340px;
  height: 32px;
  background-image: url('/images/logo-gw-doc.svg') !important;
  background-repeat: no-repeat;
  background-size: contain;
}

.wh_logo img {
  display: none;
}

div.wh_publication_title {
  display: none;
}

.wh_footer {
  min-height: var(--footer-height) !important;
  background-color: var(--clr-GW-HEADER-FOOTER-BKG) !important;
  padding: 1rem !important;
  display: flex !important;
  justify-content: center !important;
}

.footercopyright,
.footerDate,
.footerLink {
  flex-grow: 1;
}

.footercopyright,
.footerDate,
.footerLink a {
  color: var(--GW-COLOR-TEXT-3) !important;
  font-size: 14px !important;
  font-weight: 600;
  display: inline-block;
  margin-right: 0;
}

.footer-container .text-center {
  text-align: center !important;
}

.footer-container p {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 0.25rem;
}

.navbar-fixed-top nav.wh_tools.hidden-print {
  background: var(--GW-COLOR-BKGD-1) !important;
  margin-top: auto;
  margin-right: -1.3em;
}

header.navbar.navbar-default.wh_header {
  position: fixed;
  width: 100%;
}

div#affix2 {
  position: fixed;
  width: 100%;
  top: var(--header-height);
}

div#affix3 form#searchForm {
  position: fixed;
  top: 32px;
  left: 960px;
}

#versionSelector {
  padding: 4px 12px;
  border-radius: 6px;
  border: 1px solid var(--GW-COLOR-BRAND-2);
  margin: 0 8px;
  height: 32px;
}

.wh_top_menu_and_indexterms_link > label {
  margin-bottom: 0;
}

.wh_topic_label:after {
  content: '' !important;
}

html {
  scroll-padding-top: 134px;
}

#wh_topic_toc li.topic-item a span {
  color: inherit !important;
  background-color: transparent !important;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: none;
  font-weight: inherit;
}

#customHeaderElements {
  display: flex;
  float: right;
  align-items: center;
}

#customHeaderElements label {
  margin-bottom: 0;
}

code,
kbd,
pre,
samp,
.apiname,
.option {
  font-size: 95% !important;
}

.option {
  font-family: monospace;
}

.dt .option {
  font-family: inherit;
}

.collapse-toc-button {
  z-index: 1 !important;
}

.title span.highlight {
  background-color: #ffff88 !important;
}

tr p:last-child {
  margin-bottom: 0;
}

.tasklabel,
.sectiontitle {
  font-weight: 400 !important;
  font-size: 1.25rem;
}

.tasklabel {
  margin-bottom: 1rem !important;
}

p.seealso {
  font-weight: 400;
}

div.p > dl,
div.p > table,
div.p > ol,
div.p > ul {
  margin-top: 1rem;
}

.p > br + img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

img.image.zoom {
  margin-top: 0.625rem;
}

th.choption {
  vertical-align: top;
}

div.glossdef > p:first-of-type,
div.glossdef > div.p:first-of-type {
  margin-top: 1rem;
}

ul,
ol {
  padding-inline-start: 1.5rem;
}

.li.stepsection:first-of-type {
  margin-top: -1rem !important;
}

.li.stepsection {
  padding-top: 1rem;
  padding-left: 2.125rem !important;
  margin-bottom: 0.5rem;
}

pre.noncompliant,
pre.compliant {
  position: relative;
}

pre.compliant::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(/images/check_circle_outline_black_24dp.svg);
  background-repeat: no-repeat;
  background-attachment: inherit;
  -webkit-background-size: 60% 60%;
  background-size: 60% 60%;
  background-position: center center;
  opacity: 0.05;
}

pre.noncompliant::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(/images/cancel_black_24dp.svg);
  background-repeat: no-repeat;
  background-attachment: inherit;
  -webkit-background-size: 60% 60%;
  background-size: 60% 60%;
  background-position: center center;
  opacity: 0.05;
}

span.openNav {
  visibility: hidden;
}

#loginButton {
  background: linear-gradient(
    194.81deg,
    hsl(196, 100%, 36%) 0%,
    hsl(196, 100%, 31%) 100%
  );
  color: hsl(0, 0%, 100%) !important;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 0.9rem;
  white-space: nowrap;
}

#loginButton:hover {
  background: hsl(196, 100%, 26%);
  text-decoration: none;
}

#internalBadge {
  background-color: rgb(255, 186, 0);
  padding: 4px 12px;
  border-radius: 6px;
  border: 1px var(--GW-COLOR-BRAND-2);
  margin: 0 16px;
  height: 32px;
  cursor: pointer;
}

.internalBadgeText {
  color: var(--GW-COLOR-TEXT-1);
  font-weight: 600;
}

.internalBadgeTooltip {
  background-color: #000;
  border-radius: 6px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  line-height: 1rem;
  padding: 8px;
  position: absolute;
  visibility: hidden;
  width: 200px;
  z-index: 1;
  transform: translate(-150%, -5%);
}

#internalBadge:hover .internalBadgeTooltip {
  visibility: visible;
}
