@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import "common.css";

@media only screen and (max-width: 580px) {
  /* leaving this here if wne need it later */
}

@media only screen and (min-width: 581px) {
  div.wh_header_flex_container > div.wh_search_input {
    position: absolute;
    left: calc(50vw - (var(--search-field-width) / 2));
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  input.wh_search_textfield {
    border-color: var(--GW-COLOR-BRAND-2-ACTIVE);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--GW-COLOR-BRAND-2-HOVER);
    color: var(--GW-COLOR-TEXT-3);
    padding-left: 14px;
    padding-right: 36px;
    width: var(--search-field-width);
    font-size: 14px;
  }

  input.wh_search_textfield::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--GW-COLOR-TEXT-3);
    opacity: 1; /* Firefox */
  }

  input.wh_search_textfield:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--GW-COLOR-TEXT-3);
  }

  input.wh_search_textfield::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--GW-COLOR-TEXT-3);
  }

  button.wh_search_button {
    background-color: transparent;
    color: var(--GW-COLOR-TEXT-3);
    width: var(--search-button-width);
    height: 32px;
    left: calc(var(--search-field-width) - (var(--search-button-width) * 3));
    font-size: 18px;
    font-weight: 800;
  }

  div.wh_search_input.navbar-form.wh_main_page_search {
    height: var(--header-height);
    width: calc(var(--search-field-width) + var(--search-button-width) + 60px);
    position: absolute;
    top: 0;
    left: 50%;
  }

  .wh_search_input.navbar-form.wh_main_page_search form#searchForm {
    left: 37px;
  }

  div.wh_search_input.navbar-form.wh_main_page_search
    input.wh_search_textfield {
    width: var(--search-field-width);
    padding-right: 36px;
  }

  .wh_content_area#content {
    min-height: var(--main-height);
    margin-top: var(--header-height);
  }
}

header.navbar.navbar-default.wh_header {
  min-height: var(--header-height) !important;
  background-color: var(--GW-COLOR-BRAND-2) !important;
}

header {
  min-height: var(--header-height) !important;
  background-color: var(--GW-COLOR-BRAND-2) !important;
}

div.wh_content_area {
  min-height: calc(
    100% - var(--header-height) - var(--search-bar-height) -
      var(--footer-height)
  );
  margin-top: calc(var(--header-height) + 70px);
}

.wh_header_flex_container {
  background: transparent !important;
}

.wh_logo {
  display: inline-block;
  background-image: url('/images/guidewire-logo.svg') !important;
  border-right: solid 1px var(--GW-COLOR-BRAND-2);
  margin-left: 16px;
  width: 340px;
  height: 32px;
}

.wh_logo img {
  display: none;
}

div.wh_publication_title {
  display: none;
}

.wh_footer {
  min-height: var(--footer-height) !important;
  background-color: var(--GW-COLOR-TEXT-1) !important;
  padding: 32px !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.footercopyright,
.footerDate,
.footerLink a {
  color: var(--GW-COLOR-TEXT-3) !important;
  font-size: 14px !important;
  font-weight: 600;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 32px;
}

.footer-container .text-center {
  text-align: left !important;
}

.navbar-fixed-top nav.wh_tools.hidden-print {
  background: var(--GW-COLOR-BKGD-1) !important;
}

header.navbar.navbar-default.wh_header {
  position: fixed;
  width: 100%;
}

div#affix2 {
  position: fixed;
  width: 100%;
  top: var(--header-height);
}

div#affix3 form#searchForm {
  position: fixed;
  top: 32px;
  left: 960px;
}

#versionSelector {
  padding: 4px 12px;
  border-radius: 6px;
  border: 1px solid var(--GW-COLOR-BRAND-2);
  margin: 8px;
}
.wh_top_menu_and_indexterms_link > label {
  margin-bottom:0;
}

.wh_topic_label:after {
  content: "" !important
}

html {
  scroll-padding-top: 134px;
}