<!DOCTYPE html>
<html lang="en">
<% include parts/head %>
<body>
<% include parts/header %>
<header>
  <div class="mainLogo">
    <img src="/images/guidewire-logo.svg" />
  </div>
</header>
  <h1>Log in</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">Select which credentials you want to use</div>
    </div>
  <div class="row">
    <div class="col-sm">
      <a href="#" class="btn btn-primary btn-lg btn-block">Guidewire Identity Hub</a>
      <a href="#" class="btn btn-primary btn-lg btn-block">Guidewire Community for Partners</a>
      <a href="#" class="btn btn-primary btn-lg btn-block">Guidewire Community for Customers</a>
    </div>
  </div>
</div>
</body>
<% include parts/footer %>
</html>