<!DOCTYPE html>
<html lang="en">
  <% include parts/header %>
  <body>
    <% include parts/head %>
    <div class="docPanelContainer container">
      <div class="row">
        <div class="col">
          <img
            src="/images/john-salvino-bqGBbLq_yfc-unsplash.jpg"
            width="100%"
          />
          <h1>You are not authorized to view this page</h1>
          <p>Contact your administrator if you think you should be</p>
        </div>
      </div>
    </div>
    <% include parts/footer %>
  </body>
</html>
