table {
  border-width: 0.5px;
  border-style: solid;
}

th,
td {
  padding: 8px 1rem;
}

pre {
  background-color: lightgrey;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 12px;
  overflow-x: auto;
}
