<!DOCTYPE html>
<html lang="en">
  <% include parts/head %>
  <body>
    <% include parts/header %>
    <div class="homeContainer">
      <% include parts/switcher %>
      <div class="gw-jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4"><%= category.name %></h1>
        </div>
      </div>
      <div class="docPanelContainer container">
        <div class="row">
          <div class="docsInCategory">
            <% docs.forEach(doc => { -%>
            <div class="docLink">
              <a href="/<%= doc.url %>"><%= doc.title %></a>
            </div>
            <% }); -%>
          </div>
        </div>
      </div>
    </div>
    <% include parts/footer %>
  </body>
</html>
