<!DOCTYPE html>
<html lang="en">
  <% include parts/head %>
  <body>
    <% include parts/header %>
    <div class="docPanelContainer">
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <div class="docPageTitle docPageHeaderItems">
              <h1>Cloud product documentation</h1>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="docPageHeaderItems">
              <%- include('./parts/toggle.ejs', {selected: 'cloud'}) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <div class="row">
              <% products.forEach(product => { -%>
                <div class="col-sm-4"><a href="/products/<%= product.href %>"
                class="productCard"
                ><%= product.name %></a></div>
              <% }); -%>
            </div>
          </div>
          <div class="col-sm-3">
            <% include parts/useful-links %>
          </div>
        </div>
      </div>
    </div>
    <% include parts/footer %>
  </body>
</html>
