<!DOCTYPE html>
<html lang="en">
  <% include parts/head %>
  <body>
    <% include parts/header %>
    <div class="docPanelContainer">
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <div class="docPageTitle">
              <h1>Cloud product documentation</h1>
              <p>
                We provide cloud products as an ongoing service. These products
                are on-demand and we manage them for you.
              </p>
            </div>
          </div>
          <div class="col-sm-3">
            <% include parts/switcher %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <div class="homeCards">
              <% products.forEach(product => { -%>
              <div class="productCard">
                <a href="/products/<%= product.href %>"><%= product.name %></a>
              </div>
              <% }); -%>
            </div>
          </div>
          <div class="col-sm-3">
            <% include parts/useful-links %>
          </div>
        </div>
      </div>
    </div>
    <% include parts/footer %>
  </body>
</html>
