<!DOCTYPE html>
<html lang="en">
  <% include parts/head %>
  <body>
    <%- include('parts/header', { hideLoginButton: false }) %>
    <main>
      <h1><%= message %></h1>
      <h2><%= error.status %></h2>
      <pre><%= error.stack %></pre>
    </main>
    <% include parts/footer %>
  </body>
</html>
