<!DOCTYPE html>
<html lang="en">
  <% include parts/head %>
  <body class="loginPage">
    <% include parts/header %>
    <div class="docPanelContainer">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="loginPageTitle docPageHeaderItems">
              <h1>Welcome to Guidewire documentation</h1>
              <p>
                Log in using one of the following methods.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="loginCards">
              <div class="loginCard">
                <div class="loginCardTitle">Guidewire Cloud Account</div>
                <div class="loginCardDescription">
                  Use your Guidewire Cloud Platform account to access
                  documentation.
                </div>
                <div class="loginButtonWrapper">
                  <a
                    class="gwButtonPrimary loginButton"
                    href="/login"
                    aria-expanded="false"
                    aria-controls="partnerLogin"
                    >Continue</a
                  >
                </div>
              </div>
              <div class="loginCard">
                <div class="loginCardTitle">
                  Customer Community Account
                </div>
                <div class="loginCardDescription">
                  Use your community.guidewire.com account to access
                  documentation.
                </div>
                <div class="loginButtonWrapper">
                  <a
                    class="gwButtonPrimary loginButton"
                    href="/customers-login"
                    aria-expanded="false"
                    aria-controls="partnerLogin"
                    >Continue</a
                  >
                </div>
              </div>
              <div class="loginCard">
                <div class="loginCardTitle">
                  Partner Community Account
                </div>
                <div class="loginCardDescription">
                  Use your partner.guidewire.com account to access documentation.
                </div>
                <div class="loginButtonWrapper">
                  <a
                    class="gwButtonPrimary loginButton"
                    href="/partners-login"
                    aria-expanded="false"
                    aria-controls="partnerLogin"
                    >Continue</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row employeeLogin">
          <div class="col">
            Guidewire employee? <a href="/login">Click here to log in</a>.
          </div>
        </div>
        <div class="row employeeLogin">
          <div class="col">
            Don't have an account? <a href="mailto:docfeedback@guidewire.com?subject=Guidewire Documentation site access">Click here to request access</a>.
          </div>
        </div>
      </div>
    </div>
    <% include parts/footer %>
  </body>
</html>
