<!DOCTYPE html>
<html lang="en">
  <% include parts/head %>
  <body>
    <% include parts/header %>
    <main>
      <div class="loginPageTitle">
        <h1>Welcome to Guidewire documentation</h1>
        <p>
          Log in using one of the following methods.
        </p>
      </div>
      <div class="loginCards">
        <div class="loginCard cardShadow">
          <h2>Guidewire Cloud Account</h2>
          <div class="loginCardDescription">
            Use your Guidewire Cloud Platform account to access documentation.
          </div>
          <a
            class="button cardButton"
            href="/login"
            aria-expanded="false"
            aria-controls="partnerLogin"
            >Continue</a
          >
        </div>
        <div class="loginCard cardShadow">
          <h2>
            Customer Community Account
          </h2>
          <div class="loginCardDescription">
            Use your community.guidewire.com account to access documentation.
          </div>
          <a
            class="button cardButton"
            href="/customers-login"
            aria-expanded="false"
            aria-controls="partnerLogin"
            >Continue</a
          >
        </div>
        <div class="loginCard cardShadow">
          <h2>
            Partner Community Account
          </h2>
          <div class="loginCardDescription">
            Use your partner.guidewire.com account to access documentation.
          </div>
          <a
            class="button cardButton"
            href="/partners-login"
            aria-expanded="false"
            aria-controls="partnerLogin"
            >Continue</a
          >
        </div>
      </div>
      <div class="employeeLogin">
        Guidewire employee? <a href="/login">Click here to log in</a>.
      </div>
    </main>
    <% include parts/footer %>
  </body>
</html>
