<!DOCTYPE html>
<html lang="en">
<% include parts/head %>
<body>
<% include parts/header %>
<div class="homeContainerNoSearch">
    <div class="gw-jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Login required</h1>
        </div>
    </div>
    <div class="docPanelContainerNoSearch container">
        <div class="accordion p-5" id="gwLoginAccordion">
            <div class="card">
                <div class="card-header" id="partnerHeading">
                    <h2 class="display-8 mb-0 p-1">
                        <a class="text-decoration-none dropdown-toggle" data-toggle="collapse" href="#partnerLogin"
                           aria-expanded="false" aria-controls="partnerLogin">
                            Partner
                        </a>
                    </h2>
                </div>
                <div id="partnerLogin" class="collapse" aria-labelledby="partnerHeading"
                     data-parent="#gwLoginAccordion">
                    <div class="card-body">
                        <p><a class="btn btn-primary" href="/login" role="button">Guidewire Identity Hub</a></p>
                        <p><a class="btn btn-info" href="/partners-login" role="button">Guidewire Community</a></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="customerHeading">
                    <h2 class="display-8 mb-0 p-1">
                        <a class="text-decoration-none dropdown-toggle" type="button" data-toggle="collapse"
                                href="#customerLogin" aria-expanded="false" aria-controls="customerLogin">
                            Customer
                        </a>
                    </h2>
                </div>
                <div id="customerLogin" class="collapse" aria-labelledby="customerHeading"
                     data-parent="#gwLoginAccordion">
                    <div class="card-body">
                        <p><a class="btn btn-primary" href="/login" role="button">Guidewire Identity Hub</a></p>
                        <p><a class="btn btn-info" href="/customers-login" role="button">Guidewire Community</a></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="employeeHeading">
                    <h2 class="display-8 mb-0 p-1">
                        <a class="text-decoration-none dropdown-toggle" type="button" data-toggle="collapse"
                           href="#employeeLogin" aria-expanded="false" aria-controls="employeeLogin">
                            Employee
                        </a>
                    </h2>
                </div>
                <div id="employeeLogin" class="collapse" aria-labelledby="employeeHeading"
                     data-parent="#gwLoginAccordion">
                    <div class="card-body">
                        <p><a class="btn btn-primary" href="/login" role="button">Guidewire Identity Hub</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include parts/footer %>
</body>
</html>
