<!DOCTYPE html>
<html lang="en">
  <% include parts/head %>
  <body>
    <% include parts/header %>
    <div class="homeContainerNoSearch">
      <div class="container">
        <div class="gw-jumbotron jumbotron-fluid loginJumbotron">
          <div class="container">
            <h1 class="display-4">Welcome to docs!</h1>
            <div class="loginSubtitle">
              Log in using one of the following methods.
            </div>
          </div>
        </div>
        <div class="docPanelContainerNoSearch">
          <div class="row">
            <div class="col-md">
              <div class="loginCard">
                <div class="loginCardTitle">Guidewire Cloud</div>
                <div class="loginCardDescription">
                  If you have an account on Guidewire Cloud
                </div>
                <a
                  class="loginButton"
                  href="/login"
                  aria-expanded="false"
                  aria-controls="partnerLogin"
                  >Log in</a
                >
              </div>
            </div>
            <div class="col-md">
              <div class="loginCard">
                <div class="loginCardTitle">
                  Guidewire Community for Customers
                </div>
                <div class="loginCardDescription">
                  If you access to customers.guidewire.com
                </div>
                <a
                  class="loginButton"
                  href="/customers-login"
                  aria-expanded="false"
                  aria-controls="partnerLogin"
                  >Log in</a
                >
              </div>
            </div>
            <div class="col-md">
              <div class="loginCard">
                <div class="loginCardTitle">
                  Guidewire Community for Partners
                </div>
                <div class="loginCardDescription">
                  If you access to partners.guidewire.com
                </div>
                <a
                  class="loginButton"
                  href="/partners-login"
                  aria-expanded="false"
                  aria-controls="partnerLogin"
                  >Log in</a
                >
              </div>
            </div>
          </div>
          <div class="row employeeLogin">
            <div class="col">
              Guidewire employee? <a href="/login">Click here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include parts/footer %>
  </body>
</html>
