<!DOCTYPE html>
<html lang="en">
<% include parts/head %>
<body>
<% include parts/header %>
<% include parts/search-bar %>
<div class="homeContainer">
    <div class="gw-jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Cloud products</h1>
            <a class="btn btn-link" href="/self-managed-latest" role="button">Self-managed products &gt;</a>
        </div>
    </div>
    <div class="docPanelContainer container">
        <div class="row">
            <% docPackages.forEach(docPackage => { -%>
                <% docPackage.docs.forEach(doc => { -%>
                    <% if (doc.releases) { -%>
                        <div class="docPanel col-sm-5">
                            <% doc.releases.forEach(release => { -%>
                                <span class="docPanelTitle"><a
                                            href="<%= release.url %>"><%= doc.title %></a></span>
                                <% if (doc.docDescription) { -%>
                                    <span class="docPanelDescription"><%= doc.docDescription %></span>
                                <% } -%>
                            <% }) -%>
                        </div>
                    <% } -%>
                <% }) -%>
            <% }) -%>
        </div>
    </div>
</div>
<% include parts/footer %>
</body>
</html>