<!DOCTYPE html>
<html lang="en">
<%- include('parts/head', { pageTitle: `Internal page`}) %>
<body>
<%- include('parts/header') %>
<main class="pageNotFound">
    <h1>
        Content with restricted access
    </h1>
    <p>
        You tried to view internal content that is available only to Guidewire employees.
        If you need to get access to this content, please contact your administrator.
    </p>
</main>
<% include parts/footer %>
</body>
</html>
