<!DOCTYPE html>
<html lang="<%= localizationInfo.lang %>">
  <%- include('parts/head', { pageTitle: `Guidewire Documentation`}) %>
  <body>
    <%- include('parts/header') %>
    <div id="dynamic-content"></div>
    <%- include('parts/footer') %>
    <script src="/scripts/frontend/index.js" type="module"></script>
  </body>
</html>
