<!DOCTYPE html>
<html lang="en">
<% include parts/head %>
<body>
<% include parts/header %>
<div class="homeContainer">
    <div class="gw-jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Self-managed products</h1>
            <a class="btn btn-link" href="/" role="button">Cloud products &gt;</a>
        </div>
    </div>
    <div class="docPanelContainer container">
        <div class="row">
            <%  let groups = docs.reduce((r, a) => {
                    if (a.metadata.platform.includes('Self-managed')) {
                        r[a.metadata.category] = [...r[a.metadata.category] || [], a];
                    }
                    return r;
                }, {});
                const groupArray = Object.entries(groups);
                groupArray.forEach(group => {
                    const groupName = group[0];
                    const groupItems = group[1]; -%>
                    <div class="col-md">
                        <div class="card border-light mb-3" style="max-width: 18rem;">
                            <h4 class="card-header bg-transparent"><%= groupName %></h4>
                            <div class="card-body">
                                <div class="card-text">
                                    <% groupItems.forEach(doc => { -%>
                                        <% if (['9.x', '10.x', '11.x', '3.x'].includes(doc.metadata.version)) { -%>
                                            <div>
                                                <span class="docPanelLink"><a
                                                    href="<%= doc.url %>"><%= doc.title %></a></span>
                                            </div>
                                        <% } -%>
                                    <% }) -%>
                                </div>
                            </div>
                        </div>
                    </div>
            <% }) -%>
        </div>
        <div class="row">
            <div class="col-md">
                <a href="/self-managed-all-releases" class="btn-sm btn-dark" role="button">See all releases</a>
            </div>
        </div>
    </div>
</div>
<% include parts/footer %>
</body>
</html>