<!DOCTYPE html>
<html lang="en">
<% include parts/head %>
<body>
<% include parts/header %>
<% include parts/search-bar %>
<div class="homeContainer">
    <div class="gw-jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Self-managed products</h1>
        </div>
    </div>
    <div class="docPanelContainer container">
        <div class="row">
            <% docPackages.forEach(docPackage => { -%>
                <div class="col-md">
                    <div class="card border-light mb-3" style="max-width: 18rem;">
                        <h4 class="card-header bg-transparent"><%= docPackage.categoryName %></h4>
                        <div class="card-body">
                            <div class="card-text">
                                <% docPackage.docs.forEach(doc => { -%>
                                    <% if (doc.releases) { -%>
                                        <div>
                                            <% doc.releases.forEach(release => { -%>
                                                <span class="docPanelLink"><a
                                                            href="<%= release.url %>"><%= doc.title %></a></span>
                                            <% }) %>
                                        </div>
                                    <% } -%>
                                <% }) -%>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) -%>
        </div>
        <div class="row">
            <div class="col-md">
                <a href="/self-managed-all-releases" class="btn-sm btn-dark" role="button">See all releases</a>
            </div>
        </div>
    </div>
</div>
<% include parts/footer %>
</body>
</html>
