<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/scripts/html5.css">
    <title>Document</title>
</head>
<body>
<nav class="toc" role="navigation">
    <ul class="expanded">
        <% for (const link of simpleDoc.simpleDocLinks) { %>
            <li><a href="<%= link %>"><%= link.split('/')[3] %></a></li>
        <% } %>
    </ul>
</nav>
<main role="main">
    <article>
        <%- simpleDoc.simpleDocContent %>
    </article>
</main>
</body>
</html>