<!DOCTYPE html>
<html lang="en">
  <% include parts/head %>
  <body>
    <% include parts/header %>
    <div class="docPanelContainer">
      <div class="container">
        <div class="row">
          <div class="docPageTitle docPageHeaderItems">
            <h1>
              Legal and support information
            </h1>
            <h2>Legal</h2>
            <p>Some offerings may require additional licensing. To determine whether your license agreement includes a specific offering, contact your Guidewire sales representative.
              Offerings may vary depending on geographic location. To determine whether a specific offering is available in your geographic location, contact your Guidewire sales representative.</p>
            <p><a href="https://www.guidewire.com/legal-notices" target="_blank"></a>Legal notices</p>
            <h2>Support</h2>
            <p>
              For assistance, visit the Guidewire Community.
            </p>
            <p>
              <a href="https://community.guidewire.com" target="_blank"
                >Guidewire customers</a
              >
            </p>
            <p>
              <a href="https://partner.guidewire.com" target="_blank"
                >Guidewire partners</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <% include parts/footer %>
</html>
