<!DOCTYPE html>
<html lang="en">
  <% include parts/head %>
  <body>
    <% include parts/header %> <% include parts/search-bar %>
    <div class="docPanelContainer">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>
              Support
            </h1>
            <p>
              For assistance, visit the Guidewire Community.
            </p>
            <p>
              <a href="https://community.guidewire.com" target="_blank"
                >Guidewire customers</a
              >
            </p>
            <p>
              <a href="https://partner.guidewire.com" target="_blank"
                >Guidewire partners</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <% include parts/footer %>
</html>
