<!DOCTYPE html>
<html lang="en">
  <%- include('parts/head', { pageTitle: `Unauthorized`}) %>
  <body>
    <%- include('parts/header') %>

    <main class="infoPage">
      <section class="infoSection">
        <div class="infoSplashImage splashSecure"></div>
        <h1 class="infoTitle">Unauthorized</h1>
        <p>
          You are not authorized to view this page. Contact your administrator
          if you think you should be.
        </p>
        <% if (pageInfo.cameFrom) { %>
        <pre class="infoPre"><%= pageInfo.cameFrom %></pre>
        <% } else { %>
        <p>
          Also, sorry, but we couldn't determine the address of the page you
          were trying to reach. 😅
        </p>
        <% } %>
      </section>
    </main>
  </body>
  <%- include('parts/footer') %>
</html>
