.markdown-wrapper table {
  border-width: 0.5px;
  border-style: solid;
}

.markdown-wrapper th,
.markdown-wrapper td {
  padding: 8px 1rem;
}

.markdown-wrapper pre {
  background-color: #fafafa;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 12px;
  overflow-x: auto;
}
