.resultList li {
    list-style-type: none;
}

.resultList h2 {
    font-size: 1.3rem;
}

.searchResults {
    padding-top: 3rem;
}

.pagination li {
    padding: 6px;
}

.pagination li.disabled a,
.pagination li.disabled {
    color: gray !important;
}

.pagination button {
    background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.filterSearchResults h2 {
    font-size: 1rem;
}

.checkboxRow {
    font-size: 0.9rem;
    line-height: 1rem;
    margin-left: 6px;
}

.checkboxLabel {
    margin-left: 6px;
}

.docCount {
    float: right;
    color: gray;
}