<a href="/selfManagedProducts" data-root="/selfManagedProducts" class="selfManagedLink">Click here for self-managed documentation</a>
<div class="skiReleaseOverview cardShadow categoryCard">
    <img src="/images/badge-flaine.svg" class="skiBadgeLg"/>
    <div class="label">What's new in Flaine</div>
    <div class="skiReleaseDesc">Flaine introduces the following key features and capabilities:
<ul>
<li>Advanced Product Designer app (APD)</li>
<li>Submission Intake for InsuranceSuite</li>
<li>App Events for event-based integration</li>
<li>Community-powered machine learning</li>
<li>Automated updates to latest release</li>
<li>Cloud API enhancements</li>
<li>Early access to Jutro Digital Platform</li>
<li>Expanded Guidewire GO content</li>  
</ul>
</div>
<a href="/cloud/flaine/whatsnew">
    <button>Learn more</button> 
</a>
   
</div>