<a
  href="/selfManagedProducts"
  data-root="/selfManagedProducts"
  class="selfManagedLink"
  >Click here for self-managed documentation</a
>
<div class="skiReleaseOverview cardShadow categoryCard">
  <img
    src="/images/badge-garmisch.svg"
    class="skiBadgeLg"
    alt="Garmisch logo"
    aria-label="Garmisch logo"
  />
  <div class="label">What's new in Garmisch</div>
  <div class="skiReleaseDesc">
    <div class="skiReleaseDescIntro">
      Garmisch introduces the following key features and capabilities:
    </div>
    <ul>
      <li>Self-service production deployments</li>
      <li>Automatic post-deployment testing</li>
      <li>Custom monitoring and observability</li>
      <li>Cloud API enhancements</li>
      <li>Multi-product support in APD</li>
      <li>Support for importing loss runs into PolicyCenter</li>
      <li>Expanded line of business content</li>
      <li>InsuranceNow integration with Hi Marley</li>
      <li>Support for One Inc ACH payments in InsuranceNow</li>
      <li>New analytics dashboards for Cyence</li>
      <li>New analytics model for Predict</li>
    </ul>
  </div>
  <a href="/cloud/garmisch/whatsnew">
    <button>Learn more</button>
  </a>
</div>
