<a href="/selfManagedProducts" data-root="/selfManagedProducts" class="selfManagedLink">Click here for self-managed documentation</a>
<div class="skiReleaseOverview cardShadow categoryCard">
    <img src="/images/badge-garmisch.svg" class="skiBadgeLg" alt="Garmisch logo" aria-label="Garmisch logo"/>
    <div class="label">What's new in Garmisch</div>
    <div class="skiReleaseDesc">
        <div class="skiReleaseDescIntro">Garmisch introduces the following key features and capabilities:</div>
<ul>
<li>Washes your car</li>
<li>Folds the laundry</li>
<li>Enhances the flavor of your food</li>
<li>Makes you feel like a million bucks</li>
<li>Just kidding! Content coming soon.</li>
</ul>
</div>
<a href="/cloud/flaine/whatsnew">
    <button>Learn more</button> 
</a>
   
</div>