# Ignore everything
**

# Allow specific folders
!.yarn/
!src/
!scripts/copyNonTxFiles.mjs
!.yarnrc.yml
!custom.d.ts
!package.json
!tsconfig.json
!webpack.config.js
!yarn.lock
!multi-qa-MiniLM-L6-cos-v1/onnx
!multi-qa-MiniLM-L6-cos-v1/*.json
!multi-qa-MiniLM-L6-cos-v1/*.txt