.title {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-weight: 700;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.titleChevron {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-position: center;
  background-size: cover;
}

.collapsed {
  background-image: url(./icons/collapsed.svg);
}

.expanded {
  background-image: url(./icons/expanded.svg);
}

.content {
  margin-top: 1rem;
  margin-left: 1rem;
}
