@import '../../public/stylesheets//modules/header.css';
@import '../../public/stylesheets/modules/html5vars.css';
@import '../../public/stylesheets/modules/fonts.css';
@import '../../public/stylesheets/modules/avatar.css';
@import '../../public/stylesheets/modules/footer.css';
@import '../../public/stylesheets/modules/searchBox.css';
@import '../../public/stylesheets/modules/skipNav.css';
@import '../../public/stylesheets/modules/versionSelector.css';
@import '../../public/stylesheets/modules/internal.css';
@import '../../public/stylesheets/modules/subjects.css';
@import '../../public/stylesheets//modules/twoColumns.css';

body {
  --header-height: 32px;
}

#mainContent {
  min-height: calc(100vh - var(--header-height));
  padding: 2rem 1rem;
  max-width: 800px;
  margin: 2rem auto;
}

.subject .topicref a {
    text-decoration: none;
    color: var(--GW-COLOR-BRAND-1);
    font-family: var(--guidewire-font);
    font-size: 1rem;
}

.topicCategory {
  background-color: yellow;
}
