body {
  --code-font-family: 'Source Code Pro', monospace;
}

pre.pre {
  position: relative;
  margin-bottom: 1em;
  margin-top: 0;
  padding: 1rem;
  font-size: 0.875rem !important;
  font-family: var(--code-font-family) !important;
  text-shadow: none !important;
  border: 1px solid gray;
  border-radius: 6px;
  overflow-x: auto;
  background-color: rgb(41, 45, 62);
}

.pre.pre .b {
  --emphasis-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  filter: brightness(1.25);
}

code[class*='language-'] a,
pre[class*='language-'] a {
  text-decoration-line: underline;
  color: #fff;
}

code[class*='language-'] a:hover,
pre[class*='language-'] a:hover {
  color: #ccc;
}

div.code-toolbar > .toolbar {
  display: flex;
  gap: 8px;
  align-items: center;
}

div.code-toolbar > .toolbar > .toolbar-item {
  color: white;
}

div.code-toolbar > .toolbar > .toolbar-item:hover {
  color: white;
}

div.code-toolbar > .toolbar > .toolbar-item > button.copy-to-clipboard-button,
div.code-toolbar > div.toolbar > div.toolbar-item > span {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  font-family: var(--code-font-family);
}

div.code-toolbar > div.toolbar > div.toolbar-item > span {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  background: transparent;
  cursor: default;
}

.copy-to-clipboard-button:hover,
.copy-to-clipboard-button:focus {
  transform: scale(1.2);
}

.copy-to-clipboard-button:active,
.copy-to-clipboard-button.active {
  transform: scale(1.1);
  filter: invert(1);
}

.varname,
.apiname,
.userinput,
.option,
.parmname,
.msgph,
.codeph,
.cmdname,
.tt,
.filepath {
  background-color: #e5e5e5;
  font-family: var(--code-font-family) !important;
  font-size: 1rem;
  padding-left: 1px;
  padding-right: 1px;
  word-break: break-word;
}

.codeph *,
.codeblock *,
.pre *,
.filepath *,
.apiname *,
.cmdname *,
.msgblock *,
.msgph *,
.option *,
.parmname *,
.userinput * {
  border: none;
  background-color: transparent;
}

pre.pre .varname,
pre.pre .apiname,
pre.pre .userinput,
pre.pre .option,
pre.pre .parmname,
pre.pre .msgph,
pre.pre .codeph,
pre.pre .cmdname,
pre.pre .tt,
pre.pre .filepath {
  background-color: transparent;
}
