<div class="externalSitesMenu">
    <button class="externalSitesItemWrapper" type="button" aria-label="show external links">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 28 28" xml:space="preserve" width="28" height="28">
        <path class="st0" d="M0,0h24v24H0V0z" fill="none"/>
        <path d="M23.3,24.9H4.7c-0.9,0-1.6-0.7-1.6-1.6V4.7c0-0.9,0.7-1.6,1.6-1.6h7.8c0.9,0,1.6-0.7,1.6-1.6S13.3,0,12.4,0H3.1
            C1.4,0,0,1.4,0,3.1v21.8C0,26.6,1.4,28,3.1,28h21.8c1.7,0,3.1-1.4,3.1-3.1v-9.3c0-0.9-0.7-1.6-1.6-1.6s-1.6,0.7-1.6,1.6v7.8
            C24.9,24.2,24.2,24.9,23.3,24.9z M17.1,1.6c0,0.9,0.7,1.6,1.6,1.6h4L8.5,17.3c-0.6,0.6-0.6,1.6,0,2.2c0.6,0.6,1.6,0.6,2.2,0
            L24.9,5.3v4c0,0.9,0.7,1.6,1.6,1.6S28,10.2,28,9.3V1.6C28,0.7,27.3,0,26.4,0h-7.8C17.8,0,17.1,0.7,17.1,1.6z"/>
        </svg>
    </button>
    <div class="externalSitesSubNavigation">
        <span class="externalSitesSecondLevelLink">Guidewire Sites</span>
        <ul class="externalSitesHasSubmenu">
            <li class="externalSitesMainItem">
                <a
                        class="externalSitesThirdLevelLink"
                        href="https://community.guidewire.com/s/login"
                        rel="noopener noreferrer"
                        target="_blank"
                >Customer Community</a
                >
            </li>
            <li class="externalSitesMainItem">
                <a
                        class="externalSitesThirdLevelLink"
                        href="https://partner.guidewire.com/s/login"
                        rel="noopener noreferrer"
                        target="_blank"
                >Partner Portal</a
                >
            </li>
            <li class="externalSitesMainItem">
                <a
                        class="externalSitesThirdLevelLink"
                        href="https://developer.guidewire.com"
                        rel="noopener noreferrer"
                        target="_blank"
                >Developer</a
                >
            </li>
            <li class="externalSitesMainItem">
                <a
                        class="externalSitesThirdLevelLink"
                        href="https://ilearning.seertechsolutions.com/lmt/xlr8login.login?site=guidewire"
                        rel="noopener noreferrer"
                        target="_blank"
                >Education</a
                >
            </li>
            <li class="externalSitesMainItem">
                <a
                        class="externalSitesThirdLevelLink"
                        href="https://www.guidewire.com"
                        rel="noopener noreferrer"
                        target="_blank"
                >Guidewire Website</a
                >
            </li>
        </ul>
    </div>
</div>
