<form action="/search">
  <div class="searchWrapper">
    <input
      name="q"
      id="searchField"
      class="searchField"
      type="search"
      placeholder="{{ ns.placeholder }}"
      aria-label="{{ ns.placeholder }}"
    />
    <button type="submit" class="searchButton" aria-label="{{ ns.placeholder }}">
      {{ ns.placeholder }}
    </button>
  </div>
</form>
