<form action="/search">
    <div class="searchWrapper">
        <input
                name="q"
                id="searchField"
                class="searchField"
                type="search"
                placeholder="{{ ns.placeholder }}"
                aria-label="{{ ns.placeholder }}"
        />
        {% if data.get('search_filters') %}
            {% for search_filter_name, search_filter_value in data.get('search_filters').items() %}
                <input type="hidden" name="{{ search_filter_name }}"
                       value="{{ ','.join(search_filter_value) }}"/>
            {% endfor %}
        {% endif %}
        <button type="submit" class="searchButton" aria-label="{{ ns.placeholder }}">
            {{ ns.placeholder }}
        </button>
    </div>
</form>
