<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PLXG9H5');
    </script>
    <!-- End Google Tag Manager -->
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
            name="Description"
            content="Technical documentation for Guidewire customers and partners"
    />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>{{ data.get('title') }} | Guidewire Documentation</title>
</head>
<body>
<header>
    <div id="headerLeft">
        <a href="/">
            <img class="pageLogo" src="/images/guidewire-logo.svg" alt="Guidewire Documentation" role="img"
                 aria-label="Guidewire Documentation">
        </a>
    </div>
    <div id="headerCenter">
        <form action="/search">
            <div class="searchWrapper">
                <input name="q" id="searchField" class="searchField" type="search"
                       placeholder="Search Guidewire documentation" aria-label="Search Guidewire documentation"/>
                <button type="submit" class="searchButton" aria-label="Search">Search</button>
            </div>
        </form>
    </div>
    <div id="headerRight">
        <div class="GuidewireSites-module--Menu--1sZ5Q">
            <button
                    class="GuidewireSites-module--ItemWrapper--2ifWD"
                    type="button"
            >
                <svg
                        class="GuidewireSites-module--Icon--2qOjo"
                        version="1.1"
                        x="0px"
                        y="0px"
                        viewBox="0 0 22.4 18.4"
                        style="enable-background: new 0 0 22.4 18.4"
                        xml:space="preserve"
                >
              <g>
                <path
                        d="M18.6,15.6c0,0.6-0.5,1-1,1H2.8c-0.6,0-1-0.5-1-1V7.5h9.1l0.3-0.3l1.4-1.4H1.8v-1c0-0.6,0.5-1,1-1h10.6V2H2.8C1.2,2,0,3.2,0,4.8v10.8c0,1.5,1.2,2.8,2.8,2.8h14.8c1.5,0,2.8-1.2,2.8-2.8V9h-1.8V15.6z"
                ></path>
                  <polygon
                          points="22.3,0 15.4,0 15.3,0 15.3,0.1 15.3,1.9 15.3,1.9 15.4,1.9 19.1,1.9 9.7,11.3 9.7,11.4 9.7,11.4 11,12.7 11,12.7
		11.1,12.7 20.5,3.3 20.5,7 20.5,7.1 20.5,7.1 22.3,7.1 22.4,7.1 22.4,7 22.4,0.1 22.4,0 	"
                  ></polygon>
              </g>
            </svg>
            </button>
            <ul class="GuidewireSites-module--SubNavigation--7D7mT">
            <span class="GuidewireSites-module--SecondLevelLink--3Ga2P"
            >Guidewire Sites</span
            >
                <ul class="GuidewireSites-module--HasSubmenu--9DJq1">
                    <li class="GuidewireSites-module--MainItem--2tAvO">
                        <a
                                class="GuidewireSites-module--ThirdLevelLink--14JqW"
                                href="https://community.guidewire.com/s/login"
                                rel="noopener noreferrer"
                                target="_blank"
                        >Customer Community</a
                        >
                    </li>
                    <li class="GuidewireSites-module--MainItem--2tAvO">
                        <a
                                class="GuidewireSites-module--ThirdLevelLink--14JqW"
                                href="https://partner.guidewire.com/s/login"
                                rel="noopener noreferrer"
                                target="_blank"
                        >Partner Portal</a
                        >
                    </li>
                    <li class="GuidewireSites-module--MainItem--2tAvO">
                        <a
                                class="GuidewireSites-module--ThirdLevelLink--14JqW"
                                href="https://developer.guidewire.com"
                                rel="noopener noreferrer"
                                target="_blank"
                        >Developer</a
                        >
                    </li>
                    <li class="GuidewireSites-module--MainItem--2tAvO">
                        <a
                                class="GuidewireSites-module--ThirdLevelLink--14JqW"
                                href="https://ilearning.seertechsolutions.com/lmt/xlr8login.login?site=guidewire"
                                rel="noopener noreferrer"
                                target="_blank"
                        >Education</a
                        >
                    </li>
                    <li class="GuidewireSites-module--MainItem--2tAvO">
                        <a
                                class="GuidewireSites-module--ThirdLevelLink--14JqW"
                                href="https://www.guidewire.com"
                                rel="noopener noreferrer"
                                target="_blank"
                        >Guidewire Website</a
                        >
                    </li>
                </ul>
            </ul>
        </div>
        <a class="button" id="loginButton" href="/gw-login">Log in</a>
    </div>
</header>
<main {% if data.get('class') -%}class="{{ data.get('class') }}"{%- endif -%}>
    <div class="pageHero">
        <h1>{{ data.get('title') }}</h1>
        <div class="heroControls">
            <div id="cloudToggle">
                <a href="/" data-root="/cloudProducts">Guidewire Cloud</a>
                <a href="/selfManagedProducts" data-root="/selfManagedProducts">Self-managed</a>
            </div>
        </div>
    </div>
    {% if data.get('breadcrumbs') %}
        <div class="docBreadcrumb">
            {% for breadcrumb in data.get('breadcrumbs') %}
                <a href="{{ breadcrumb.get('path') }}">{{ breadcrumb.get('label') }}</a>
            {% endfor %}
        </div>
    {% endif %}
    {% if data.get('siblings') %}
        <script>
            function selectPage() {
                const selectedPage = document.getElementById("pageSelector").value;
                const urlParts = window.location.pathname.split('/');
                urlParts[urlParts.length - 2] = selectedPage;
                window.location.replace(urlParts.join('/'));
            }
        </script>

        <div id="pageSelectorContainer">
            <select onchange="selectPage()" id="pageSelector">
                <option value="{{ data.get('current_page').get('path') }}"
                        selected="selected">{{ data.get('current_page').get('label') }}</option>
                {% for sibling in data.get('siblings') %}
                    <option value="{{ sibling.get('path') }}">
                        {{ sibling.get('label') }}
                    </option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    {% macro create_block(label, class, items, id, page, link, public) -%}
        <div {% if class -%}class="{{ class }}"{%- endif -%}>
            {% if id -%}
                <a href="{{ id }}" {% if not public -%}class="private"{%- endif -%}>{{ label }}</a>
            {% elif page %}
                <a href="{{ page }}" {% if not public -%}class="private"{%- endif -%}>{{ label }}</a>
            {% elif link %}
                <a href="{{ link }}" {% if not public -%}class="private"{%- endif -%}>{{ label }}</a>
            {% else %}
                <div class="label" {% if not public -%}class="private"{%- endif -%}>{{ label }}</div>
            {%- endif %}
            {% if items -%}
                {% for item in items -%}
                    {{ create_block(item.get('label'), item.get('class'), item.get('items'), item.get('id'), item.get('page'), item.get('link'), item.get('public')) }}
                {%- endfor %}
            {%- endif %}
        </div>
    {%- endmacro %}

    <div class="items">
        {% for item in data.get('items') %}
            {{ create_block(item.get('label'), item.get('class'), item.get('items'), item.get('id'), item.get('page'), item.get('link'), item.get('public')) }}
        {% endfor %}
    </div>
</main>
<footer>
    <div id="footerLeft"></div>
    <div id="footerCenter"></div>
    <div id="footerRight">
        <div>
            <div class="footerLinks">
                <span class="footerLink"><a href="/support">Legal and Support Information</a></span>
            </div>
            <div class="footerCopyright">
                Copyright &#169; 2001-
                <script>document.write(new Date().getFullYear())</script>
                Guidewire Software, Inc.
            </div>
        </div>
    </div>
</footer>
<script src="/scripts/main.js"></script>
</body>
</html>
