body {
  --code-font-family: 'Source Code Pro', monospace;
  --copy-button-text-color: black;
  --copy-button-background-color: white;
}

.codeBlockWrapper {
  position: relative;
  margin-bottom: 1em;
}

pre.pre {
  padding: 1em 1em;
  font-size: 0.875rem !important;
  font-family: var(--code-font-family) !important;
  text-shadow: none !important;
}

.copyToClipboardButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid var(--copy-button-text-color);
  color: var(--copy-button-text-color);
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--code-font-family);
}

.copyToClipboardButton:hover,
.copyToClipboardButton:focus {
  background-color: var(--copy-button-text-color);
  color: var(--copy-button-background-color);
}

.copyToClipboardButton:active,
.copyToClipboardButton.active {
  transform: scale(1.1);
}

.varname,
.apiname,
.userinput,
.option,
.parmname,
.msgph,
.codeph,
.cmdname,
.pre,
.tt,
.filepath {
  background-color: #f5f2f0;
  font-family: var(--code-font-family);
  font-size: 1rem;
  padding: 2px 4px;
  border-radius: 6px;
}

.codeblock {
  border-radius: 6px;
}
