body {
  --code-font-family: 'Source Code Pro', monospace;
}

pre.pre {
  position: relative;
  margin-bottom: 1em;
  margin-top: 0;
  padding: 1rem;
  font-size: 0.875rem !important;
  font-family: var(--code-font-family) !important;
  text-shadow: none !important;
  border: 1px solid gray;
  border-radius: 6px;
  overflow-x: auto;
  background-color: rgb(41, 45, 62);
}

div.code-toolbar > .toolbar > .toolbar-item > button.copy-to-clipboard-button {
  display: block;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  font-family: var(--code-font-family);
}

.copy-to-clipboard-button:hover,
.copy-to-clipboard-button:focus {
  transform: scale(1.2);
}

.copy-to-clipboard-button:active,
.copy-to-clipboard-button.active {
  transform: scale(1.1);
  filter: invert(1);
}

.varname,
.apiname,
.userinput,
.option,
.parmname,
.msgph,
.codeph,
.cmdname,
.tt,
.filepath {
  background-color: #f6f7f8;
  font-family: var(--code-font-family);
  font-size: 1rem;
  padding: 2px 4px;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

pre.pre .varname,
pre.pre .apiname,
pre.pre .userinput,
pre.pre .option,
pre.pre .parmname,
pre.pre .msgph,
pre.pre .codeph,
pre.pre .cmdname,
pre.pre .tt,
pre.pre .filepath {
  background-color: transparent;
}
