.feedbackFormWrapper.hidden {
  display: none;
}

.feedbackFormWrapper {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}

.feedbackFormWrapper form {
  --form-width: 500px;
  --form-padding: 32px;
  position: relative;
  display: block;
  padding: var(--form-padding);
  width: var(--form-width);
  max-width: 100%;
  background-color: white;
  height: fit-content;
}

.feedbackFormTitle {
  display: block;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.feedbackFormWrapper label {
  display: flex;
  align-content: center;
  gap: 1rem;
}

.feedbackFormWrapper input[type='checkbox'] {
  margin-top: auto;
  margin-bottom: auto;
}

.feedbackFormWrapper textarea {
  margin-bottom: 1rem;
  height: 5rem;
  width: 100%;
}

.feedbackFormWrapper input[type='text'] {
  margin-top: 0px;
  margin-bottom: 0.25rem;
  padding: 2px;
  width: 100%;
}

.feedbackFormCloseButton {
  --feedback-form-close-button-size: 2rem;
  position: absolute;
  top: 0;
  left: calc(100% + 1rem);
  content: ' ';
  width: var(--feedback-form-close-button-size);
  height: var(--feedback-form-close-button-size);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none' opacity='.87'/%3E%3Cpath d='M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm4.3 14.3c-.39.39-1.02.39-1.41 0L12 13.41 9.11 16.3c-.39.39-1.02.39-1.41 0-.39-.39-.39-1.02 0-1.41L10.59 12 7.7 9.11c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L12 10.59l2.89-2.89c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41L13.41 12l2.89 2.89c.38.38.38 1.02 0 1.41z'/%3E%3C/svg%3E");
  background-size: cover;
  background-position: 50% 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.feedbackFormCloseButton:hover {
  background-color: gray;
  border-radius: 50%;
}

.feedbackSubmitButton {
  display: block;
  width: 100%;
  border: none;
  background-color: var(--GW-COLOR-BRAND-1);
  border: 1px solid white;
  color: white;
  padding: 16px 0;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  font-size: 1.1rem;
  margin-top: 2rem;
}

.feedbackSubmitButton:hover,
.feedbackSubmitButton:active {
  background-color: white;
  color: var(--GW-COLOR-BRAND-1);
  border: 1px solid var(--GW-COLOR-BRAND-1);
  box-shadow: 2px 2px 6px rgb(0 0 0 / 30%);
}

.feedbackSubmitButton.disabled {
  background-color: lightgray;
  color: gray;
  cursor: wait;
}

.feedbackFormCheckBoxes {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.feedbackFormCheckBoxes label {
  cursor: pointer;
}

.feedback {
  --feedback-button-size: 1.25rem;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 1rem;
}

.feedbackThumbs {
  display: flex;
  gap: 1rem;
}

.feedbackButtonContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.feedbackButton {
  display: block;
  background-color: transparent;
  border: none;
  width: var(--feedback-button-size);
  height: var(--feedback-button-size);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
}

.feedbackButton:hover {
  transform: scale(1.2);
}

.feedbackButton.selected {
  transform: scale(1.2);
}

.feedbackButtonPositive {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0V0zm0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z'/%3E%3C/svg%3E");
}

.feedbackButtonPositive:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z'/%3E%3C/svg%3E");
}

.feedbackButtonNegative {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0V0zm0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm0 12l-4.34 4.34L12 14H3v-2l3-7h9v10zm4-12h4v12h-4z'/%3E%3C/svg%3E");
}

.feedbackButtonNegative:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z'/%3E%3C/svg%3E");
}

#thanksMessage {
  background-color: #c0e3bc;
  border-color: #4d8c45;
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  color: #000000;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 9999999;
  left: 50%;
  top: 30px;
  font-size: 1.0625rem;
}

#thanksMessage.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .feedbackButton:hover {
    transform: none;
  }
  
  .feedbackButton.selected {
    transform: none;
  }
}
