body {
  --GW-COLOR-BRAND-1: #00739d;
  --GW-COLOR-BRAND-2: #3c4c5e;
  --GW-COLOR-TEXT-1: #28333f;
  --GW-COLOR-TEXT-2: #657580;
  --GW-COLOR-TEXT-3-HOVER: #f2f2f2;
  --GW-COLOR-TEXT-3-ACTIVE: #e6e6e6;
  --GW-COLOR-LINK-1: #00739d;
  --GW-COLOR-LINK-1-HOVER: #006083;
  --GW-COLOR-LINK-1-ACTIVE: #004e6a;
  --clr-GW-HEADER-FOOTER-BKG: rgb(19, 30, 46);
  --GW-BOX-SHADOW-VERTICAL-2: 0 2px 4px 0px rgba(40, 51, 63, 0.16);
  --GW-BOX-SHADOW-VERTICAL-3: 0 4px 3px 0px rgba(40, 51, 63, 0.16);
  --GW-BOX-SHADOW-DIAGONAL-3: 4px 4px 6px 0px rgba(66, 68, 90, 0.24);
  --header-height: 64px;
  --navbar-height: 54px;
  --footer-height: 86px;
  --main-height: calc(100vh - var(--header-height) - var(--navbar-height));
  --guidewire-font: 'Source Sans Pro', sans-serif;
  --main-padding-large: 2rem;
  --article-margin-right: 3rem;
  --article-width: 105ch;
  --left-nav-width: 350px;
  --mini-toc-width: 300px;
  --left-nav-mini-toc-height: 95vh;
  --large-screen-width: calc(
    var(--main-padding-large) + var(--article-margin-right) +
      var(--article-width) + var(--left-nav-width) + var(--mini-toc-width)
  );
  margin: 0;
  font-family: var(--guidewire-font);
  color: var(--GW-COLOR-TEXT-1);
  font-size: 18px;
  font-weight: 400;
  background-color: white;
  min-height: var(--main-height);
}
