.embed-container {
  --width: 484px;
  position: relative;
  overflow: hidden;
  width: var(--width);
  padding-top: calc(var(--width) * 9 / 16);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.embed-container.fullscreen {
  --width: 100%;
}

.embed-container.portrait {
  --width: 334px;
  padding-top: calc(var(--width) * 16 / 9);
}

.embed-container.fullscreen.portrait {
  --width: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
