.landingpage {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.landingpage > section {
    --height: 360px;
    --width: 420px;
    --padding-width: 1rem;
    display: block;
    outline: 3px solid var(--GW-COLOR-BRAND-1);
    border-radius: 30px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding: 0 var(--padding-width) var(--padding-width) var(--padding-width);
    width: var(--width);
    overflow: hidden;
}

.landingpage > section > .sectiontitle {
    color: #fff;
    position: relative;
    line-height: 1;
    background-color: var(--GW-COLOR-BRAND-1);
    top: -1.5rem;
    left: calc(var(--padding-width) * -1);
    width: var(--width);
    margin-bottom: 0rem !important;
    padding: var(--padding-width);
}

.landingpage > section > .sectiontitle + * {
    margin-top: 0;
}
