nav.miniToc {
  padding: 0 4px var(--footer-height) 16px;
  overflow-y: auto;
  width: clamp(200px, 300px, 350px);
  top: 0;
  position: sticky;
  align-self: flex-start;
}

nav.miniToc::before {
  content: 'On this page';
  color: black;
  margin-bottom: 1em;
  display: block;
}

nav .miniTocLink {
  display: block;
  color: var(--GW-COLOR-TEXT-2);
  text-decoration: none;
  padding: 4px 0;
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--guidewire-font);
  font-weight: 400;
  text-align: left;
  margin: 0;
}

nav a.miniTocLink:hover {
  color: var(--GW-COLOR-BRAND-1);
}

.miniTocLink.topictitle2 + .miniTocLink.sectiontitle,
.miniTocLink.topictitle2 + .miniTocLink.topictitle3,
.miniTocLink.topictitle2
  + .miniTocLink.sectiontitle
  ~ .miniTocLink.sectiontitle,
.miniTocLink.topictitle2 + .miniTocLink.topictitle3 ~ .miniTocLink.topictitle3 {
  margin-left: 1ch;
}

.miniTocLink.topictitle3 + .miniTocLink.sectiontitle,
.miniTocLink.topictitle3 + .miniTocLink.topictitle4,
.miniTocLink.topictitle3 + .miniTocLink.sectiontitle ~ .miniTocLink.sectiontitle,
.miniTocLink.topictitle3 + .miniTocLink.topictitle4 ~ .miniTocLink.topictitle4 {
    margin-left: 2ch;
}

.miniTocLink.topictitle3 + .miniTocLink.sectiontitle {
    margin-left: 2ch !important;
}

.miniTocLink.topictitle4 + .miniTocLink.sectiontitle,
.miniTocLink.topictitle4 + .miniTocLink.topictitle5,
.miniTocLink.topictitle4 + .miniTocLink.sectiontitle ~ .miniTocLink.sectiontitle,
.miniTocLink.topictitle4 + .miniTocLink.topictitle5 ~ .miniTocLink.topictitle5 {
    margin-left: 3ch;
}

.miniTocLink.topictitle4 + .miniTocLink.sectiontitle {
    margin-left: 3ch !important;
}
