@media print {
  body {
    display: block !important;
  }

  header,
  .navbar,
  nav[role='toc'],
  footer,
  .feedback,
  .thanksMessage,
  .miniToc,
  button.copyToClipboardButton,
  .spacer {
    display: none;
  }

  main[role='main'] {
    grid-area: none;
    height: fit-content;
    width: 100%;
    overflow-y: auto;
    padding: 16px;
    display: block;
  }

  main[role='main'] > article {
    width: 100%;
    margin-right: 0;
    display: block;
  }

  main[role='main']::before,
  main[role='main']::after {
    display: block;
    font-size: 0.875rem;
    text-align: center;
    width: 100%;
  }

  main[role='main']::before {
    content: 'Copyright © Guidewire Software, Inc., confidential and proprietary. Latest documentation at docs.guidewire.com.';
    margin-bottom: 16px;
  }

  main[role='main']::after {
    margin-top: 32px;
    content: 'Legal information at https://www.guidewire.com/legal-notices/';
  }

  pre,
  code {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
  }

  .filepath {
    word-wrap: break-word;
  }
}
