table {
  border-collapse: collapse;
  display: block;
  overflow: auto;
  max-width: 100%;
  width: fit-content;
  margin-top: calc(1.75rem + 9px);
  margin-bottom: 1.5rem;
  background-image: linear-gradient(to right, white, white),
    linear-gradient(to right, white, white),
    linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)),
    linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 40px 100%, 40px 100%, 30px 100%, 30px 100%;
  background-attachment: local, local, scroll, scroll;
}

span[id^='lightbox'] table {
  margin-top: 0.25rem;
}

.simpletable td:not([valign]),
.table td:not([valign]),
.choicetable td:not([valign]),
.simpletable th:not([valign]),
.table th:not([valign]),
.choicetable th:not([valign]) {
  vertical-align: top;
}

td,
th {
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

th {
  font-weight: 600;
}

.choicetable {
  margin-top: 1em;
  margin-bottom: 1em;
}

.choicetableborder th {
  border-right: 1px solid #999;
}

.entry > *:last-child {
  margin-bottom: 0;
}
