label[for='versionSelector'] {
  display: inline-block;
  color: white;
  font-weight: 400;
  font-size: 14px;
}

#versionSelector {
  padding: 4px 12px;
  border-radius: 6px;
  border: 1px solid var(--GW-COLOR-BRAND-2);
  margin: 0 8px;
  height: 32px;
}
