.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100px;
}
