.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  padding: 2rem 1rem;
}

.content {
  width: 96%;
  max-width: 52.813em;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100px;
}
